body {
    font-size: 14px;
    padding-top: 0;
    color: #777;
    background: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    background: #f9f9f9;
}

.section-header span {
    display: block;
    margin: 0 auto;
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
    text-align: center
}

.section-header hr {

    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
    width: 35%;
}

.navbar-toggle .icon-bar {
    background: #FFF;
}

#main-slider .carousel-inner .item {
    overflow: hidden;
    opacity: 0;
    height: 500px;
    transition: opacity .8s ease;
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    -ms-transition: opacity .8s ease;
    -o-transition: opacity .8s ease
}

.main-slider-titles > div {
    margin-bottom: 15px;
}

#main-slider .carousel-inner .item .slide-caption {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none
}

#main-slider .carousel-inner .item.active {
    opacity: 1;
    transition: opacity .8s ease;
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    -ms-transition: opacity .8s ease;
    -o-transition: opacity .8s ease
}

#main-slider .carousel-inner .item.left.active {
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity .8s ease;
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    -ms-transition: opacity .8s ease;
    -o-transition: opacity .8s ease
}

#main-slider .carousel-inner .item.left.next {
    opacity: 1;
    transition: opacity .8s ease;
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    -ms-transition: opacity .8s ease;
    -o-transition: opacity .8s ease
}

#main-slider .carousel-inner .item.right.active {
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity .8s ease;
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    -ms-transition: opacity .8s ease;
    -o-transition: opacity .8s ease
}

#main-slider .carousel-inner .item.right.prev {
    opacity: 1;
    transition: opacity .8s ease;
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    -ms-transition: opacity .8s ease;
    -o-transition: opacity .8s ease
}

#main-slider .carousel-inner .item .img-background {
    position: absolute;
    left: 0;
    width: 100%
}

#main-slider .carousel-control {
    background-image: none;
    z-index: 2
}

#main-slider .carousel-control span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block
}

.padding-md{
    padding: 20px;
}

.feature-icon {
    width: 80px;
    height: 80px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    background-color: #a0c6da;
    margin: 0 auto 10px;
    cursor: pointer;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease
}

.feature-icon [class*=fa-] {
    line-height: 80px
}

.feature-icon:hover {
    color: #fed;
    text-shadow: none;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease
}

.input-lg::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 17px
}

.input-lg:-moz-placeholder {
    font-size: 17px;
    line-height: 17px
}

.input-lg::-moz-placeholder {
    font-size: 17px;
    line-height: 17px
}

.input-lg:-ms-input-placeholder {
    font-size: 17px;
    line-height: 17px
}

#newsletter {
    width: 300px
}

@media (max-width: 767px) {
    #newsletter {
        width: 100%
    }
}

.recent-work a {
    position: relative;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    color: #626262
}

.recent-work a img {
    width: 100%
}

.recent-work a:hover {
    text-decoration: none
}

.recent-work a:hover img {
    opacity: .5;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease
}

.recent-work .detail {
    margin-bottom: 30px
}

.hoverBorder:hover .hoverBorderWrapper .hoverBorderInner {
    box-shadow: 0 0 0 3px #FC8675 inset;
    -moz-box-shadow: 0 0 0 3px #FC8675 inset;
    -webkit-box-shadow: 0 0 0 3px #FC8675 inset;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease
}

.hoverBorder:hover .hoverBorderWrapper .readMore {
    left: 10px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease
}

.hoverBorder .hoverBorderWrapper {
    position: relative;
    display: inline-block
}

.hoverBorder .hoverBorderWrapper .hoverBorderInner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease
}

.hoverBorder .hoverBorderWrapper .readMore {
    position: absolute;
    bottom: 10px;
    left: -20px;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #FC8675;
    color: #fff;
    padding: 3px 12px;
    font-size: 11px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease
}

footer {
    margin-left: 0;
    background: #504f63;
    color: #d5d4dd;
    padding: 10px 15px;
}

footer p {
    display: block
}

footer .useful-link li a {
    color: #d5d4dd;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease
}

footer .useful-link li a:hover {
    color: #fff;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease
}

.social-connect {
    background: #d5d4dd;
    border-color: #d5d4dd;
    color: #777
}

.social-connect:hover {
    border-color: transparent
}

.animated-element {
    opacity: 1
}

.animated-element.no-animation {
    visibility: hidden;
    animation: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    -o-animation: none !important
}

.font-lg {
    font-size: 17px !important
}

.content-padding {
    padding: 40px
}

@media (max-width: 480px) {
    .content-padding {
        padding: 10px
    }
}

.m-top-lg {
    margin-top: 100px
}

@media (max-width: 480px) {
    .m-top-lg {
        margin-top: 20px
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .m-top-lg {
        margin-top: 50px
    }
}

.m-bottom-lg {
    margin-bottom: 100px
}

@media (max-width: 480px) {
    .m-bottom-lg {
        margin-bottom: 20px
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .m-bottom-lg {
        margin-bottom: 50px
    }
}

.m-top-md {
    margin-top: 50px
}

.m-left-md {
    margin-left: 50px
}

.m-right-md {
    margin-right: 50px
}

.top-link {
    color: #FFF !important;
}

.top-link:hover {
    background-color: #3E3C87 !important;
}

.bg-light {
    background-color: #fbfbfb !important;
}

.text-info {
    color: #C07225 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #3E3C87;
    border-color: #FFF;
}

.nav .open ul {
    background-color: #3E3C87;
}

.nav .open li > a {
    color: #FFF;
    font-size: 15px;
}

.nav .open li > a:hover {
    background-color: #3E3C87;
    color: #428bca;
}

.keep-margin {
    margin: 5px;
}

.paragraph {
    text-indent: 30px;
    text-align: justify;
    text-justify: inter-word;
}

.circle {
    list-style-type: disc !important;
    margin-left: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.feature-icon {
    background-color: inherit;
}

.partner {
    min-height: 150px;
}

#main-slider .carousel-inner .item {
    height: 600px;
}

.carousel-inner h2 {
    font-size: 400%;
    color: #222;
}

.carousel-inner p {
    font-size: 200%;
    color: #FFF;
}

.carousel-inner .row {
    margin-left: 0px;
}

header.navbar {
    background-color: #3E3C87;
    opacity: 0.8;
}

#landing-content {
    padding-top: 51px;
    min-height: 530px;
}

.navbar-brand img {
    margin-top: -10px;
}

#scroll-to-top {
    position: fixed;
    cursor: pointer;
    bottom: -1000px;
    right: 3px;
    color: #fff;
    z-index: 1049;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    padding: 10px 14px;
    background: #BBB;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#overlay {
    background: #000;
    left: 0;
    right: 0;
    top: 0;
    bottom: -100px;
    position: fixed;
    z-index: 9999;
    opacity: 1
}

#overlay.transparent {
    background: rgba(0, 0, 0, .5)
}

.overlay-inner {
    position: absolute;
    top: 40%;
    left: 45%
}

@media (max-width: 767px) {
    .overlay-inner {
        left: 35%
    }
}

@media (max-width: 600px) {
    .overlay-inner {
        left: 25%
    }
}

@media (max-width: 480px) {
    .overlay-inner {
        left: 17%
    }
}

@media (max-width: 400px) {
    .overlay-inner {
        left: 5%
    }
}

@media (max-width: 767px) {
    .overlay-inner.style2 {
        left: 45%
    }
}

@media (max-width: 480px) {
    .overlay-inner.style2 {
        left: 42%
    }
}

#main-slider {
    background-image: url("/static/images/background.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    padding-top: 5%;
}

#main-slider-image {
    float: right;
    margin-right: 50px;
}

#main-slider-image > img {
    box-shadow: 8px 8px 10px #aaa;
}

#main-slider a {
    font-size: 300%;
    font-family: "PT Serif Caption";
    color: #3E3C87;
    margin-left: 23px;
    line-height: 110%;
}

#main-slider a:hover {
    color: #667fca;
}

.publications li {
    list-style-type: decimal !important;
}

b {
    font-weight: bolder !important;
    font-size: 120%;
    color: #626262;
}

footer a, footer a:hover {
    color: #d5d4dd !important;
}

.small-h4 {
    font-size: 85%;
}

@media (max-width: 320px) {
    .main-slider-titles {
        margin-top: 80px;
    }

    .main-slider-titles > div {
        margin-bottom: 10px;
        font-size: 40%;
    }

    #landing-content {
        min-height: 420px;
    }

    #main-slider {
        min-height: 400px;
        background-size: 200%;
    }

    #main-slider-image {
        width: 90%;
        margin: auto !important;
        float: none;
    }

    #main-slider-image img {
        width: 100% !important;
        margin-bottom: 20px;
    }

    h2, .section-header span {
        font-size: 150%;
        text-align: center;
    }

    h3 {
        font-size: 130%;
        text-align: center;
    }

    h4 {
        font-size: 110%;
        text-align: center;
    }

    .padding-md {
        margin-left: 10px;
        margin-right: 10px;
    }

    .materialboxed, .responsive-image {
        width: 100%;
    }
}

@media (max-width: 480px) {
    #main-slider .carousel-inner .item {
        height: 200px
    }

    #main-slider .carousel-inner .item h2 {
        font-size: 17px
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #main-slider .carousel-inner .item {
        height: 300px
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .main-slider-titles {
        margin-top: 120px;
    }

    #main-slider {
        min-height: 900px;
    }

    #main-slider-image {
        width: 80%;
        margin: auto !important;
        float: none;
    }

    #main-slider-image img {
        width: 100% !important;
        margin-bottom: 20px;
    }

    #main-slider .carousel-inner .item {
        height: 400px
    }
}

@media (min-width: 769px) {
    .main-slider-titles {
        margin-top: 100px;
    }
}