{% extends "public.html" %}
{% block content %}
    <div class="padding-md">
        <div class="section-header">
            <hr class="left visible-lg">
            <span>
                RESEARCH
            </span>
            <hr class="right visible-lg">
        </div>
        <h2>Combined Nano-Therapies</h2>
        <p class="paragraph">
            To combat cancer with early detection and treatment, new strategies have emerged thanks to the development
            of nanomaterials exhibiting new properties stemming from the reduction of their size. One major mission of
            these nanomaterials is the promise to bring nano-physical therapies on target tissues, with precise temporal
            and spatial control of the therapeutic action, together with low side effects. These nano-physical therapies
            are mediated by nanoparticles cores that can be excited by a remote energy source (light, magnetism or
            radiation), and generate in turn a physical effect, such as heat, force, or field. In this context, we have
            been investigating the efficiency of magnetic hyperthermia, photothermia, and photodynamic therapy for
            cancer therapies, with the final aim to combine one with the other, for enhanced treatments at low
            nanoparticles doses.
        </p>
        <p class="paragraph">
            We first chose to tackle the combined nano-therapies concept by using liposomes (produced by Christine
            Ménager’s team, PHENIX, UMR8234, UPMC) as carriers to convey both magnetic nanoparticles and
            photosensitizers (Figure 1, Di Corato et al. ACS nano 2015). The design method allowed liposomes to feature
            an unprecedented magnetic nanoparticle cargo amount. Additionally, lipid bilayer shell constituted a
            well-suited delivery environment for enclosing the hydrophobic photosensitizer by preventing aggregation.
            The double cargo translated into double functionality: the optimized hybrid liposomes generated cytotoxic
            singlet oxygen under 650-nm excitation and produced heat under alternate magnetic field stimulation,
            coupling photodynamic therapy to magnetic hyperthermia, respectively. By merging both therapeutic
            modalities, we obtained an extremely efficient tumor cell death in vitro, and a spectacular tumor regression
            in vivo. The multifunctional smart liposomal nano-platform presented here is thus not only novel for its
            dual loading, but also demonstrates for the first time the potential of combining synergistically magnetic
            hyperthermia with photodynamic therapy for unparalleled antitumoral efficacy.
        </p>
        <div class="row">
            <div class="col-sm-12">
                <div class="keep-margin" align="center"><img class="materialboxed" width="50%"
                                                             src="/static/images/research/combined_nano/combined-nano-1.png"/>
                </div>
                <p class="paragraph" style="text-align: center">
                    <b> Figure 1</b> : Combining magnetic hypethermia with photodynamic therapy using ultramagnetic
                    photosensitive liposomes. Di Corato et al. <br/>
                    CNRS Press Release http://www2.cnrs.fr/presse/communique/3969.htm
                </p>
            </div>
        </div>
        <p class="paragraph">
            Concerning thermal therapies, state-of-the-art modalities are the magnetic hyperthermia and the photothermal
            ones. Yet, for both, main limitations are the important doses of nanoparticles needed to achieve a
            therapeutic heating. Thus, the obvious question comes to mind: why not combine the two heat sources -
            magnetic and plasmonic - into a single nanohybrid structure to enhance heating efficiency? The team of Ali
            Abou-Hassan (PHENIX, UMR8234, UPMC) managed to produce the first biocompatible magneto-plasmonic nanohybrid
            with a magnetic core - nanoflower like - optimised for maximal magnetic heating efficiency, and variable
            gold shell whose thickness and morphology can be fine-tuned during the elaboration process, resulting in
            tunable plasmon resonances in the biological window (near infrared) and high photothermal efficiencies.
        </p>


        <div class="row">
            <div class="col-sm-6">
                <div class="keep-margin" align="center"><img class="materialboxed" width="50%"
                                                             src="/static/images/research/combined_nano/combined-nano-2.png"/>
                </div>
                <p class="paragraph">
                    <b> Figure 2</b> : Combining magnetic hypethermia with photothermia using magneto-plasmonic
                    nanohybrids. Espinosa et al. Nanoscale 2015
                </p>
            </div>
            <div class="col-sm-6">
                <p class="paragraph">
                    Not only we provided a direct insight in the structure, chemistry and intrinsic plasmonic response
                    of an individual, isolated nanostructure using advanced scanning transmission electron microscopy
                    (collaboration Guillaume Radtke, IMPMC, UPMC; Matthieu Bugnet, Gianluigi Botton, McMaster
                    University), but also, we demonstrated dual heating with simultaneous magnetic and laser excitation.
                </p>
                <p class="paragraph">
                    We extended this magneto-photo-thermal modality to iron oxide nanoparticles only (Figure 3, Espinosa
                    et al.). Indeed, we demonstrated that photothermia with magnetic nanoparticles could be proposed as
                    an alternate to magnetic hyperthermia. We explored the magneto-photo-thermal modality with iron
                    oxide nanocubes (produced by the team of Teresa Pellegrino, IIT, Genova), from the characterization
                    of thermal efficiency in solution to tumor eradication in vivo. In brief: i) In suspension, nanocube
                    heat-generating capacity rose from 700-900 W/g with the magnetic modality alone up to 5000 W/g with
                    combined magneto-photo stimulation; ii) intracellularly, the enhancement is even more striking
                    (15-fold), as laser excitation restores the optimal efficiency of magnetic hyperthermia, which is
                    otherwise inhibited by mechanical nano-frustration; iii) As a result, complete cell death in vitro
                    and total tumor eradication in vivo could be achieved thanks to the synergistic heating action, at
                    injected iron doses 4-8 times lower than those used for existing methods of magnetic hyperthermia.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">


                <p class="paragraph">
                    While the ultimate target for nanoparticle-mediated photothermal therapy is the cancer cell, heating
                    performance has rarely been evaluated in cancer cells in vitro, or in vivo in the tumor environment.
                    In the attempt to bridge this gap, we provided magnetic hyperthermia measurements in the cellular
                    environment (Di Corato et al. Biomaterials, 2014) and photothermal measurements of plasmonic nanoparticles
                    (gold nanostars, produced by Luis Liz-Marzán’s team, CIC biomaGUNE) in environments of increasing biological
                    complexity, from aqueous dispersion to solid tumors, via tumor cells in vitro (Figure 4, Espinosa et al. Adv
                    HealthCare Mat, 2016).
                </p>

                <div class="keep-margin" align="center"><img class="materialboxed" width="50%"
                                                             src="/static/images/research/combined_nano/combined-nano-3.png"/>
                </div>
                <p class="paragraph">
                    <b> Figure 3</b> : Magneto-Photo-Thermia with iron oxide nanocubes. Espinosa et al. ACS nano 2016.
                </p>
            </div>
            <div class="col-sm-6">
                <div class="keep-margin" align="center"><img class="materialboxed" width="60%"
                                                             src="/static/images/research/combined_nano/combined-nano-4.png"/>
                </div>
                <p class="paragraph">
                    <b> Figure 4</b> : once gold nanostars nanoparticles are internalized by cancer cells and confined
                    within endosomes, heating generation is no more modulated by size and wavelength parameters;
                    Espinosa et al. Adv HealthCare Mat, 2016.
                </p>
            </div>
        </div>


        <h3>Team</h3>

        <div class="row">

            <div class="col-lg-2 col-md-4 col-sm-6">

                <a href="http://www.msc.univ-paris-diderot.fr/~clairewilhelm/" target="_blank">
                    <div class="text-center text-white">
                        <img src="/static/images/team/claire.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Claire Wilhelm </h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#2">
                    <div class="text-center text-white">
                        <img src="/static/images/team/amanda.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Amanda K. A. Silva</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#4">
                    <div class="text-center text-white">
                        <img src="/static/images/team/ana.jpg" style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Ana Espinosa</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#4">
                    <div class="text-center text-white">
                        <img src="/static/images/team/alberto.jpg"
                             style="border-radius: 50%; width: 90px; height: 90px">
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Alberto Curcio</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#5">
                    <div class="text-center text-white">
                        <img src="/static/images/team/anouchka.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Anouchka Plan</h4>
                    </div>
                </a>
            </div>

        </div>

        <h3>References</h3>
        <ul>
            <li class="circle">Espinosa A, Kolosnjaj-Tabi J, Abou-Hassan A, Plan Sangnier A, Curcio A, Silva AKA, Di Corato R, Neveu S, Pellegrino T, Liz-Marzán LM, Wilhelm C. Magnetic (hyper)thermia or photo-thermia? Progressive comparison of iron oxide and gold nanoparticles heating in water, in cells, and in vivo. Advanced Functional Materials 1803660 (2018)
            </li><li class="circle">Espinosa A, Curcio A, Cabana S, Radtke G, Bugnet M, Kolosnjaj-Tabi J, Péchoux C, Alvarez-Lorenzo C, Botton GA, Silva A, Abou-Hassan A, Wilhelm C. Intracellular Biodegradation of Ag Nanoparticles, Storage in Ferritin, and Protection by Au Shell for Enhanced Photothermal Therapy. ACS nano 12, 6523–6535 (2018)
            </li><li class="circle">Plan Sangnier A, Preveral S, Curcio A, Silva A, Lefèvre CT, Pignol D, Lalatonne Y, Wilhelm C. Targeted thermal therapy with genetically engineered magnetite magnetosomes@RGD: Photothermia is far more efficient than magnetic hyperthermia. Journal of Controlled Release 279, 271-281 (2018)
            </li><li class="circle">Griffete N, Fresnais J, Espinosa A, Taverna D, Wilhelm C, Ménager C. Thermal Polymerization on the Surface of Iron Oxide Nanoparticles Mediated by Magnetic Hyperthermia: Implications for Multi-Shell Grafting and Environmental Applications. ACS Applied Nano Materials 1, 547-555 (2018)
            </li><li class="circle">Cazares-Cortes E, Espinosa A, Guigner J-M, Michel A, Griffete N, Wilhelm C*, Menager C*. Doxorubicin Intracellular Remote Release from Biocompatible OEGMA-based Magnetic Nanogels Triggered by Magnetic Hyperthermia. ACS Applied Science 9, 25775 (2017)
            Reguera J, de Aberasturi DJ, Henriksen-Lacey M, Langer J, Espinosa A, Szczupak B, Wilhelm C, Liz-Marzán LM. Janus plasmonic–magnetic gold–iron oxide nanoparticles as contrast agents for multimodal imaging. Nanoscale, 9, 9467 (2017)</li>
            <li class="circle">Espinosa A, Di Corato R, Kolosnjaj-Tabi J, Flaud P, Pellegrino T, Wilhelm C. Duality of
                Iron Oxide Nanoparticles in Cancer Therapy: Amplification of Heating Efficiency by Magnetic Hyperthermia
                and Photothermal Bimodal Treatment. ACS Nano, 10, 2436-46 (2016)
            </li>
            <li class="circle">Espinosa A, Silva AKA, Sánchez-Iglesias A, Grzelczak M, Péchoux C, Desboeufs K,
                Liz-Marzán LM, Wilhelm C. Cancer cell internalisation of gold nanostars impacts their photothermal
                efficiency in vitro and in vivo: towards a plasmonic thermal fingerprint in tumoral environment.
                Advanced HealthCare Materials, 5, 1040-48 (2016)
            </li>
            <li class="circle">Di Corato R, Béalle G, Kolosnjaj-Tabi J, Espinosa A, Clément O, Silva AKA, Ménager C,
                Wilhelm C. Combining magnetic hyperthermia and photodynamic therapy for tumor ablation with
                photoresponsive magnetic liposomes.; ACS Nano, 9, 2904-16 (2015)
            </li>
            <li class="circle">Espinosa A, Bugnet M, Radtke G, Neveu S, Botton GA, Wilhelm C, Abou-Hassan A. Can
                magneto-plasmonic nanohybrids efficiently combine photothermia with magnetic hyperthermia? Nanoscale, 7,
                18872-77 (2015)
            </li>
            <li class="circle">Di Corato R, Espinosa A, Lartigue L, Tharaud M, Chat S, Pellegrino T, Ménager C, Gazeau
                F, Wilhelm C. Magnetic hyperthermia efficiency in the cellular environment for different nanoparticle
                designs. Biomaterials 24, 6400–11 (2014)
            </li>
        </ul>

{% endblock %}