{% extends "public.html" %}
{% block content %}

    <div class="bg-white">
        <div class="text-center content-padding" id="contact">
            <div class="container">
                <h3>CONTACT AND ACCESS</h3>
                <p class="m-bottom-md">Caso possua alguma dúvida ou deseje contratar nosso serviço, infome-nos seu
                    e-mail que entramos em contato com você.</p>
                <p><br><br></p>
                <div id="map_canvas" class="map"></div>
                <p><br><br></p>
            </div>
        </div>
    </div>
    <!-- Jquery ui map -->

    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <script src='/static/js/jquery.ui.map.full.min.js'></script>
    <script src='/static/js/jquery.ui.map.microformat.min.js'></script>
    <script>
        var myLatLng = {lat: -5.9205588, lng: -35.2642777};

        var map = new google.maps.Map(document.getElementById('map_canvas'), {
            zoom: 15,
            center: myLatLng,
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            draggable: false
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Biother'
        });

        var infowindow = new google.maps.InfoWindow();
        infowindow.setContent('Av. João XXII, 708<br/> Santos Reis, Parnamirim/RN');
        infowindow.open(map, marker);

    </script>

{% endblock %}