{% extends "public.html" %}
{% block content %}
    <div class="padding-md">
        <div class="section-header">
            <hr class="left visible-lg">
            <span>
                FUNDING
            </span>
            <hr class="right visible-lg">
        </div>

        <div class="container" align="center">
            <div class="row">
                <div class="col-sm-4">
                    <div class="detail">
                        <h4>NoCanTher</h4><br/>
                        <div class="partner">
                            <img width="70%" src="/static/images/funding/f1.png" alt="Funding">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <div class="seperator"></div>
                        <small>
                            <a href="http://cordis.europa.eu/project/rcn/200812_en.html">http://cordis.europa.eu/</a>
                        </small>
                        <p><br>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                        <h4>ARC</h4><br/>
                        <div class="partner">
                            <img width="70%" src="/static/images/funding/f2.png" alt="Funding">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <div class="seperator"></div>
                        <small>
                            <a href="http://www.fondation-arc.org/">http://www.fondation-arc.org/</a>
                        </small>
                        <p><br>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                        <h4>Plan cancer</h4><br/>
                        <div class="partner">
                            <img width="70%" src="/static/images/funding/f4.png" alt="Funding">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <div class="seperator"></div>
                        <small>
                            <a href="http://www.e-cancer.fr/Plan-cancer/Plan-cancer-2014-2019-priorites-et-objectifs">http://www.e-cancer.fr/Plan-cancer/</a>
                        </small>
                        <p><br>
                        </p></div><!--detail-->
                </div><!--col-->
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="detail">
                        <h4>L'Agence nationale de la recherche</h4>
                        <div class="partner">
                            <img width="60%" src="/static/images/funding/f3.png" alt="Funding">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <div class="seperator"></div>
                        <small>
                            <a href="http://www.agence-nationale-recherche.fr/">http://www.agence-nationale-recherche.fr/</a>
                        </small>
                        <p><br>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                        <h4>ERC</h4>
                        <div class="partner">
                            <img width="30%" src="/static/images/funding/f5.png" alt="Funding">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <div class="seperator"></div>
                        <small>
                            <a href="https://erc.europa.eu/">https://erc.europa.eu/</a>
                        </small>
                        <p><br>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                        <h4>Nanotbtech</h4>
                        <div class="partner">
                            <img width="70%" src="/static/images/funding/f6.png" alt="Funding">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <div class="seperator"></div>
                        <small>
                            <a href="http://www.nanotbtech.eu/">http://www.nanotbtech.eu/</a>
                        </small>
                        <p><br>
                        </p></div><!--detail-->
                </div><!--col-->
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="detail">
                        <h4>DIM ELICIT – EVortex project</h4>
                        <div class="partner"><br>
                            <img src="/static/images/funding/f7.png" alt="Funding">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <div class="seperator"></div>
                        <small>
                            <a href="https://dim-elicit.fr/fr/">https://dim-elicit.fr/fr/</a>
                        </small>
                        <p><br>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-6">
                    <div class="detail">
                        <h4>Anses – CYCCAR project</h4>
                        <div class="partner">
                            <img src="/static/images/funding/f8.png" alt="Funding">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <div class="seperator"></div>
                        <small>
                            <a href="http://recherche.anses.fr">http://recherche.anses.fr</a>
                        </small>
                        <p><br>
                        </p></div><!--detail-->
                </div><!--col-->
            </div>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
{% endblock %}