{% extends "public.html" %}
{% block content %}

    <div class="section-header">
        <hr class="left visible-lg">
        <span>
            GALLERY
        </span>
        <hr class="right visible-lg">
    </div>
    <div class="padding-md">


        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img width="100%" class="thumbnail materialboxed" src="/static/images/gallery/6.JPG" alt="">
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <img width="100%" class="thumbnail materialboxed" src="/static/images/gallery/3.JPG" alt="">
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <img width="75%" class="thumbnail materialboxed" src="/static/images/gallery/7.JPG" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img width="100%" class="thumbnail materialboxed" src="/static/images/gallery/1.JPG" alt="">
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <img width="100%" class="thumbnail materialboxed" src="/static/images/gallery/2.JPG" alt="">
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <img width="75%" class="thumbnail materialboxed" src="/static/images/gallery/8.jpg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img width="100%" class="thumbnail materialboxed" src="/static/images/gallery/4.JPG" alt="">
            </div>

            <div class="col-sm-12 col-md-6 col-lg-8">
                <img width="89%" class="thumbnail materialboxed" src="/static/images/gallery/5.png" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-7">
                <img width="100%" class="thumbnail materialboxed" src="/static/images/gallery/foto3.jpeg" alt="">
            </div>

            <div class="col-sm-12 col-md-6 col-lg-5">
                <img width="82%" class="thumbnail materialboxed" src="/static/images/gallery/foto1.jpeg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-7">
                <img width="100%" class="thumbnail materialboxed" src="/static/images/gallery/foto2.jpeg" alt="">
            </div>
        </div>

    </div>
{% endblock %}