{% extends "public.html" %}
{% block content %}

    <div id="main-slider">
        <div class="col-lg-6 main-slider-titles">
            <div><a href="/biother/oncology/">Physical Oncology</a></div>
            <div><a href="/biother/nano/">Biocamouflage</a></div>
            <div><a href="/biother/particles/">Fate Organism/tissue</a></div>
            <div><a href="/biother/combined_nano/">Combined Nano-Therapies</a></div>
            <div><a href="/biother/magnetic/">Magnetic Tissue Engineering</a></div>
            <div><a href="/biother/nano_fate/">Intracellular Nano-Fate</a></div>
        </div>
        <div class="col-lg-6">
            <div id="main-slider-image">
                <img id="transition" class="bottom" src="/static/images/transition/t1.png"/>
            </div>
        </div>
    </div>

    <script>
        for (var i = 1; i < 11; i++) {
            (new Image()).src = "/static/images/transition/t" + i + ".png";
        }
        var currentIndex = 1;
        function changePicture() {
            currentIndex += 1;
            if (currentIndex > 10) currentIndex = 1;
            var src = "/static/images/transition/t" + currentIndex + ".png";

            $("#transition")
                .fadeOut(2000, function () {
                    $("#transition").prop('src', src);
                })
                .fadeIn(2000);
        }
        setInterval('changePicture()', 4000);
    </script>

{% endblock %}