{% extends "public.html" %}
{% block content %}
    <div class="padding-md">
        <div class="section-header">
            <hr class="left visible-lg">
            <span>
                RESEARCH
            </span>
            <hr class="right visible-lg">
        </div>
        <h2>Magnetic Tissue Engineering / 3D “magnetic printing”</h2>
        <p class="paragraph">
            While magnetic nanomaterials are increasingly used as clinical agents for imaging and therapy, their use as
            a tool for tissue engineering opens up challenging perspectives that have yet been more rarely explored. To
            create thick, organized, purely cellular 3D artificial tissues, it is necessary to manipulate the component
            cells remotely to make them interact and self-organize. Magnetic forces acting at a distance are appealing
            candidates, provided the individual cells are first rendered magnetic by internalization of iron oxide
            nanoparticles.
        </p>
        <p class="paragraph">
            We have first shown that magnetic compaction of mesenchymal stem cells (MSC) can yield a very thick cell
            layer rich in cartilage matrix with a high potential for integration. Our approach (patent “Methods for
            aggregation and differentiation of magnetized stem cells” FR2979634-A1; WO/2013/030393, 2013), consists of
            forming cartilage precursors between 0.5 and 1 mm thick from stem cells aggregated with miniaturized
            magnets, then merging them successively to obtain a layer of the same thickness (0.5-1 mm) with no size
            limit and a totally flexible geometry that can be adapted to fit any defect in patients’ native cartilage.
        </p>

        <div class="row">
            <div class="col-sm-12">
                <div class="keep-margin" align="center"><img class="materialboxed" width="50%"
                                                             src="/static/images/research/magnetic/magnetic-1.png"/>
                </div>
                <p class="paragraph" style="text-align: center">
                    <b> Figure 1</b> : magnetic cartilage engineering: Miniaturized magnets confine stem cells into
                    cartilage building blocks and fuse these blocks into a larger structure rich in collagen. Fayol et
                    al. Adv Mat, 2013.
                </p>
            </div>
        </div>

        <p class="paragraph">
            Next, we combined the magnetic condensation technique with biodegradable polysaccharide scaffolds
            (collaboration Catherine Le Visage, LIOAD; Didier Letourneur, LVTS) containing lamellar pores of a size and
            organization that allowed cells to penetrate through the matrix, and we implemented dynamic culture
            conditions to ensure continuous diffusion of nutrients and gases, resulting in a successful attempt to
            achieve efficient chondrogenesis within the heart of a biomaterial (Luciani et al. Acta Biomateriala, 2016).
        </p>

        <p class="paragraph">
            This 3D magnetic patterning ressembling the 3D bioprinting strategies can also be used to gain insights into
            tissular mechanics.
        </p>

        <div class="row">
            <div class="col-sm-6">
                <div class="keep-margin" align="center"><img class="materialboxed" width="65%"
                                                             src="/static/images/research/magnetic/magnetic-2.png"/>
                </div>
                <p class="paragraph">
                    <b> Figure 2</b> : We developed a novel magnetic technique to assembly millions of cells
                    instantaneously, and to probe the establishment of 3D cell-cell adhesion at early stages. By testing
                    a large number of cell types, we demonstrated that cell aggregates behave like complex materials,
                    and we evidenced a transition from wet granulars to contractile structures, controlled by cell-cell
                    interactions. This relation between the macroscopic behavior of a cellular aggregate and the
                    component cells’ microscopic properties throws light on the material properties of cell assemblies.
                    (Frasca et al. Soft Matter, 2014).
                </p>
            </div>
            <div class="col-sm-6">
                <p class="keep-margin" align="center"><img class="materialboxed" width="75%"
                                                           src="/static/images/research/magnetic/magnetic-3.png"/></p>
                <p class="paragraph">
                    <b>Figure 3</b> : To overcome the spheroid size barrier production, we developed a “magnetic
                    molding” technique providing spherical aggregates with a diameter of between 0.3 and 2 mm. We
                    managed to apply a magnetic “super-gravity” of more than 100g using an external magnet, thus
                    providing a magnetic spheroid tensiometer. By combining these approaches we were able to observe
                    that an elastic-capillary transition occurs at a critical diameter of around 0.4 mm. (Mazuel et al.
                    Phys Rev Lett, 2016). Used together, the magnetic techniques tools for remote manipulation and
                    subsequent investigation of tissular mechanical properties.
                </p>
            </div>
        </div>
        <p class="paragraph">
            Construction of replacement tissues with a well-defined shape is still a challenge. We proposed a
            miniaturized bioengineering approach to build rod-shaped tissue structures from individual stem cells by
            applying magnetic forces at the cellular scale.
        </p>
        <div class="keep-margin" align="center"><img class="materialboxed" width="25%"
                                                     src="/static/images/research/magnetic/magnetic-4.png"/></div>
        <p class="paragraph">
            <b> Figure 4</b> . In the process of tissue construction, we evidenced a spontaneous shape transition from
            tissue rods to sphere-like structures. This striking observation raises the intriguing question of how
            tissue shapes are constituted and grow. (Fayol et al. Integrative Biology, 2015).
        </p>


        <h3>Team</h3>

        <div class="row">

            <div class="col-lg-2 col-md-4 col-sm-6">

                <a href="http://www.msc.univ-paris-diderot.fr/~clairewilhelm/" target="_blank">
                    <div class="text-center text-white">
                        <img src="/static/images/team/claire.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Claire Wilhelm </h4>
                    </div>
                </a>

            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">

                <a href="/biother/team/#2">
                    <div class="text-center text-white">
                        <img src="/static/images/team/nathalie.jpg"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Nathalie Luciani</h4>
                    </div>
                </a>

            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#2">
                    <div class="text-center text-white">
                        <img src="/static/images/team/amanda.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Amanda K. A. Silva</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#2">
                    <div class="text-center text-white">
                        <img src="/static/images/team/myriam.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Myriam Reffay</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/">
                    <div class="text-center text-white">
                        <img src="/static/images/team/florence.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Florence Gazeau</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">

                <a href="/biother/team/#5">
                    <div class="text-center text-white">
                        <img src="/static/images/team/sophie.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Sophie Richard</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#4">
                    <div class="text-center text-white">
                        <img src="/static/images/team/aurore.png" style="border-radius: 50%; width: 90px; height: 90px">
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Aurore Van de Walle</h4>
                    </div>
                </a>

            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#5">
                    <div class="text-center text-white">
                        <img src="/static/images/team/gaetan.jpg"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Gaëtan Mary</h4>
                    </div>
                </a>
            </div>

        </div>


        <h3>References</h3>
        <ul>
            <li class="circle">Du V, Luciani N, Richard S, Mary G, Gay C, Mazuel F, Reffay M, Menasché P, Agbulut O, Wilhelm C. A 3D magnetic tissue stretcher for remote mechanical control of embryonic stem cell differentiation. Nature Communications, 8, 400 (2017)
            </li><li class="circle">Mazuel F, Mathieu S, Di Corato R, Bacri J-C, Meylheuc T, Pellegrino T, Reffay M, Wilhelm C. Forced and Self Rotation of Magnetic Nanorods Assembly at the Cell Membrane: a Bio-Magnetic Torsion Pendulum. Small, 13, 1701274 (2017)
            </li><li class="circle">Van de Walle A, Wilhelm C*, Luciani N*. 3D magnetic stem cell aggregation and bioreactor maturation for cartilage regeneration. JoVE, 122, e55221 (2017)
            </li><li class="circle">Luciani N, Du V, Gazeau F, Richert A, Letourneur D, Le Visage C, Wilhelm C. Successful chondrogenesis within scaffolds, using magnetic stem cell confinement and bioreactor maturation. Acta Biomaterialia, 37, 101-110 (2016)
            </li><li class="circle">Mazuel F, Reffay M, Du V, Bacri J-C, Rieu J-P, Wilhelm C. Magnetic flattening of stem-cell spheroids indicates a size-dependent elastocapillary transition. Phys Rev Lett, 114, 098105 (2015)
            </li><li class="circle">Fayol D, Du V, Reffay M, Luciani N, Bacri J-C, Gay C, Wilhelm C. Magnetic engineering of stable rod-shaped stem cell aggregates: circumventing the pitfall of self-bending. Integrative Biology, 7, 170-77 (2015)
            </li><li class="circle">Frasca G, Du V, Bacri J-C, Gazeau F, Gay C, Wilhelm C. Magnetically shaped cell aggregates: from granular to contractile materials. Soft Matter, 10, 5045-54 (2014)
            </li><li class="circle">Fayol D, Frasca G, Le Visage C, Gazeau F, Luciani N, Wilhelm C. Magnetic forces promote stem cell differentiation, aggregates fusion and tissue building. Advanced Materials. 25, 2611-16 (2013)</li>
        </ul>

    </div>



{% endblock %}