{% extends "public.html" %}
{% block content %}
    <div class="padding-md">
        <div class="section-header">
            <hr class="left visible-lg">
            <span>
                RESEARCH
            </span>
            <hr class="right visible-lg">
        </div>
        <h2>Nanoparticle/drug biocamouflage – extracellular vesicles as biomimetic delivery systems</h2>
        <p class="paragraph">
            Extracellular vesicles (EVs) are membrane-delimitated sub-cellular entities released by cells in a
            constitutive manner or in response to stress. EVs contain membrane proteins and lipids as well as cytoplasm
            components in a pattern which depends on the type of stimulation and physiopathology of parental cells. EVs
            constitute a far-reaching intercellular communication pathway controlling cell signaling. Such unique
            feature stems from their capacity to shelter their internal cargo (proteins and genomic material) from the
            harsh extracellular environment and from their extraordinary ability to transfer material between neighbor
            and distal cells.
        </p>
        <p class="paragraph">
            EVs have the plasticity to be engineered to transport drugs and therapeutic nanoparticles. We were the first
            to demonstrate that exogenous material such as iron oxide nanoparticles (Small, 2008; Biomaterials, 2010)
            and carbon nanotubes (Nano Letters, 2012) may exit the cell via the extracellular vesicle pathway, being
            able to transfer the nanoparticle cargo in a homotypic as hetorotypic manner (Pharmaceutical Research,
            2012). Notably, we took advantage of this cell detoxification strategy to design vesicles loaded with drugs
            and nanoparticles. Crossing the boundaries of materials science and cell biology, our aim was to translate
            such cell communication effectors into an intrinsically biocompatible bio-inspired vector. We showed the
            feasibility of encapsulating different drug molecules into vesicles regardless their molecular weight,
            hydrophobic, hydrophilic and amphiphilic character (Nanomedicine, 2015). We equally demonstrated that such
            unique biogenic nanoplatform was able to encapsulate a set of nanoparticles, regardless their chemistry or
            shape (Nanoscale, 2013) (Figure 1). Therefore, we could design of different hybrid EVs: magnetic-fluorescent
            and magnetic-metallic vesicles, either single component or multicomponent, combining the advantageous
            properties of each constituent. These vesicles delivered thermal therapy as they heated when submitted to an
            alternating magnetic field and could be monitored using fluorescent imaging (Nanoscale, 2013) (Figure 2).
        </p>
        <div class="row">
            <div class="col-sm-6">
                <div class="keep-margin" align="center"><img class="materialboxed" width="100%"
                                                             src="/static/images/research/nano/nano1.png"/></div>
                <p class="paragraph">
                    <b> Figure 1</b> : Engineering EVs to encapsulate nanoparticles. (A) Transmission electron
                    microscopy images of iron oxide spherical nanoparticles (IONP) and nanocubes (IONC), quantum dots
                    (QD), gold-based nanoparticles (AuNP) and gold-iron oxide nanodimers (Au/IONP). (B) Schematic
                    representation of cell-derived microvesicles enclosing such nanoparticles. (C) Transmission electron
                    micrographs of a series of vesicles released from precursor cells loaded with IONP; IONP + QD; IONP
                    + AuNP; IONC or Au/IONP (Silva et al, Nanoscale. 2013).
                </p>
            </div>
            <div class="col-sm-6">
                <p class="keep-margin" align="center"><img class="materialboxed" width="100%"
                                                           src="/static/images/research/nano/nano2.png"/></p>
                <p class="paragraph">
                    <b>Figure 2</b> : Magnetic nanoparticle encapsulation into EVs confer them heating properties and
                    magnetophoresis. (A) Micromagnetophoresis experiment under fluorescence microscopy of macrophage
                    vesicles conjugated with a green fluorophore and encapsulating iron oxide nanoparticles moving
                    toward a micromagnet tip. (B) Temperature rise as a function of the time for Huvec vesicles loaded
                    with iron oxide nanoparticles at 320, 600 and 900 kHz (Silva et al, Nanoscale. 2013 and Silva et al
                    Nanomedicine 2012).
                </p>
            </div>
        </div>
        <p class="paragraph">
            Engineering of endothelial-cell derived microvesicles with magnetic nanoparticles enabled in vivo MRI
            imaging of vesicle biodistribution (Radiology, 2012). We also provided evidence of the therapeutic and
            imaging functions of these hybrid vesicles both in vitro and in vivo in tumor-bearing mice (ACS Nano, 2013)
            (Figures 2-3).
        </p>
        <div class="keep-margin" align="center"><img class="materialboxed" width="50%"
                                                     src="/static/images/research/nano/nano3.png"/></div>
        <p class="paragraph">
            <b> Figure 3</b> . Schematic representation of theranosome production from drug-loaded magnetic precursor
            cells and their application for photodynamic therapy and dual-mode MRI and fluorescence imaging (ACS Nano,
            2013).
        </p>


        <div class="keep-margin" align="center"><img class="materialboxed" width="50%"
                                                     src="/static/images/research/nano/nano4.png"/></div>
        <p class="paragraph">
            <b> Figure 4</b> : Theranosome dual-mode imaging in vitro and in vivo and theranosome-mediated therapeutic
            effect in vivo. (a) False-color images of fluorescence emission from nude mice bearing TC-1 tumor before and
            after theranosome or m-THPC intratumoral injection, as a function of time. (b) MRI scans of TC-1 tumors 48 h
            after PBS intra-tumoral injection (control group) or 48 h after theranosome intra-tumoral injection. (c)
            Tumor growth curves (tumor volume is normalized to day 0) for mice intra-tumorally injected with:
            theranosomes (25 µM m-THPC concentration) or m-THPC (25 µM) both followed by light exposure (λ=630nm -
            30J/cm²: 77mW/cm² for 390 s) 20 h later, compared with untreated control (ACS Nano, 2013).
        </p>
        <p class="paragraph">
            We are currently interested in new high-throughput scalable methods to produce and load EVs and the
            validation of the produced vesicles as drug/nanoparticle  biocamouflaged  carriers in orthotopic animal
            models.
        </p>


        <h3>Team</h3>

        <div class="row">

            <div class="col-lg-2 col-md-4 col-sm-6">

                <a href="http://www.msc.univ-paris-diderot.fr/~clairewilhelm/" target="_blank">
                    <div class="text-center text-white">
                        <img src="/static/images/team/claire.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Claire Wilhelm </h4>
                    </div>
                </a>

            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">

                <a href="/biother/team/">
                    <div class="text-center text-white">
                        <img src="/static/images/team/florence.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Florence Gazeau</h4>
                    </div>
                </a>

            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#2">
                    <div class="text-center text-white">
                        <img src="/static/images/team/amanda.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Amanda K. A. Silva</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#2">
                    <div class="text-center text-white">
                        <img src="/static/images/team/nathalie.jpg"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Nathalie Luciani</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#6">
                    <div class="text-center text-white">
                        <img src="/static/images/team/vladimir.jpg"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Vladimir Mulens-Arias</h4>
                    </div>
                </a>
            </div>


            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#6">
                    <div class="text-center text-white">
                        <img src="/static/images/team/max.png" style="border-radius: 50%; width: 90px; height: 90px">
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Max Piffoux</h4>
                    </div>
                </a>

            </div>

        </div>
        <div class="row">

            <div class="col-lg-2 col-md-4 col-sm-6">

                <a href="/biother/team/#3 col-md-4">
                    <div class="text-center text-white">
                        <img src="/static/images/team/alba.png" style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Alba Nicolas- Boluda</h4>
                    </div>
                </a>
            </div>

        </div>

        <h3>References</h3>
        <ul>
            <li class="circle">Silva AK, Luciani N, Gazeau F, Aubertin K, Bonneau S, Chauvierre C, Letourneur D, Wilhelm
                C. Combining magnetic nanoparticles with cell derived microvesicles for drug loading and targeting.
                Nanomedicine NBM. 2015, 11 (3), 645-655.
            </li>
            <li class="circle">Silva AK, Di Corato R, Pellegrino T, Chat S, Pugliese G, Luciani N, Gazeau F, Wilhelm C.
                Cell-derived vesicles as a bioplatform for the encapsulation of theranostic nanomaterials. Nanoscale.
                2013 Dec 7;5(23):11374-84.
            </li>
            <li class="circle">Silva AK, Kolosnjaj-Tabi J, Bonneau S, Marangon I, Boggetto N, Aubertin K, Clément O,
                Bureau MF, Luciani N, Gazeau F, Wilhelm C. Magnetic and photoresponsive theranosomes: translating
                cell-released vesicles into smart nanovectors for cancer therapy. ACS Nano. 2013 Jun 25;7(6):4954-66.
            </li>
            <li class="circle">Marangon I, Boggetto N, Ménard-Moyon C, Venturelli E, Béoutis ML, Péchoux C, Luciani N,
                Wilhelm C, Bianco A, Gazeau F. Intercellular carbon nanotube translocation assessed by flow cytometry
                imaging. Nano Lett. 2012 Sep 12;12(9):4830-7.
            </li>
            <li class="circle">Al Faraj A, Gazeau F, Wilhelm C, Devue C, Guérin CL, Péchoux C, Paradis V, Clément O,
                Boulanger CM, Rautou PE. Endothelial cell-derived microparticles loaded with iron oxide nanoparticles:
                feasibility of MR imaging monitoring in mice. Radiology. 2012 Apr;263(1):169-78.
            </li>
            <li class="circle">Silva AK, Wilhelm C, Kolosnjaj-Tabi J, Luciani N, Gazeau F. Cellular transfer of magnetic
                nanoparticles via cell microvesicles: impact on cell tracking by magnetic resonance imaging. Pharm Res.
                2012 May;29(5):1392-403.
            </li>
            <li class="circle">Vats N, Wilhelm C, Rautou PE, Poirier-Quinot M, Péchoux C, Devue C, Boulanger CM, Gazeau
                F. Magnetic tagging of cell-derived microparticles: new prospects for imaging and manipulation of these
                mediators of biological information. Nanomedicine (Lond). 2010 Jul;5(5):727-38.
            </li>
            <li class="circle">Luciani N, Wilhelm C, Gazeau F. The role of cell-released microvesicles in the
                intercellular transfer of magnetic nanoparticles in the monocyte/macrophage system. Biomaterials. 2010
                Sep;31(27):7061-9.
            </li>
            <li class="circle">Wilhelm C, Lavialle F, Péchoux C, Tatischeff I, Gazeau F.Intracellular trafficking of
                magnetic nanoparticles to design multifunctional biovesicles. Small. 2008 May;4(5):577-82.
            </li>
        </ul>

{% endblock %}