{% extends "public.html" %}
{% block content %}
    <div class="padding-md">
        <div class="section-header">
            <hr class="left visible-lg">
            <span>
                RESEARCH
            </span>
            <hr class="right visible-lg">
        </div>
        <h2>Intracellular Nano-Fate / Tissular biodegradation of nanoparticles</h2>
        <p class="paragraph">
            With the growing medical use of magnetic nanoparticles, in particular for cell therapies, it is crucial to
            study their long-term intracellular fate within living tissues.
        </p>
        <p class="paragraph">
            We provided multiscale quantitative methods to study intracellular iron oxide nanoparticle degradation,
            showing an unexpected near-total nanoparticle degradation during long-term maturation of a stem cell model
            tissue (Figure 1, Mazuel et al. ACS nano 2016)
        </p>
        <p class="paragraph">
            In brief, we developed stem cell spheroids as new biological tools to monitor intracellular nanoparticle
            degradation, and we managed to perform single spheroid magnetism in situ as a fingerprint of nanoscale
            transformations. Remarkably, and unexpectedly, the nanoparticles were found to be more than 90% purged
            inside the tissue in the first ten days of tissue maturation, barely affecting cellular iron homeostasis.
            The same massive degradation was recapitulated at the single endosome level, using a unique approach based
            on single purified endosome nano-magnetophoresis.
        </p>
        <p class="paragraph">
            These results evidencing for the first time a total breakdown of nanoparticles by endosomes in stem cells
            composing a model tissue bodes well for their safety in medical applications, especially regenerative
            medicine.
        </p>


        <div class="row">
            <div class="col-sm-4">
                <div class="keep-margin" align="center"><img class="materialboxed" width="70%"
                                                             src="/static/images/research/nano_fate/nano-fate-1.png"/>
                </div>
                <p class="paragraph">
                    <b> Figure 1</b> : Monitoring the intracellular biodegradation of iron oxide nanoparticles with
                    magnetic methods, at both the tissue and single endosome levels. Mazuel et al. ACS nano 2016.
                </p>
            </div>
            <div class="col-sm-8">
                <p class="keep-margin" align="center"><img class="materialboxed" width="17%"
                                                           src="/static/images/research/nano_fate/nano-fate-2.png"/></p>
                <p class="paragraph">
                    <b>Figure 2</b> : Monitoring the intracellular fate of Iron Oxide Nanoflowers@Au showed different
                    transformation scenarios, from the release of small gold seeds when the magnetic core is dissolved
                    (interesting for long-term elimination) to the protection of the magnetic core (interesting for
                    long-term therapeutic applicability).
                </p>
            </div>
        </div>


        <p class="paragraph">
            Beyond its obvious nanosafety implications, the impact of the cellular environment on nanomaterials also
            raises concerns as to their therapeutic applicability, for either the tissue engineering field (long-term
            stimulation of engineered tissues), or for cancer therapies (serial treatments). It can thus be beneficial
            to protect iron oxide nanoparticles to massive intracellular dissolution.
        </p>

        <p class="paragraph">
            We have showed (collaboration with Ali Abou-Hassan, PHENIX, UPMC) that a gold shell can prevent the
            intracellular biodegradation of iron oxide nanoflowers (Figure 2, Mazuel et al. Adv Funct Mat 2017) and
            thereby maintain their potential for magnetic hyperthermia, in addition to the excellent photothermal
            efficiency of the gold shell itself. Besides, it demonstrates that not only magnetic metrics, but also
            thermal ones can be quantitative mirrors of the intracellular status.
        </p>


        <h3>Team</h3>

        <div class="row">


            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="http://www.msc.univ-paris-diderot.fr/~clairewilhelm/" target="_blank">
                    <div class="text-center text-white">
                        <img src="/static/images/team/claire.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Claire Wilhelm </h4>
                    </div>
                </a>
            </div>


            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#2">
                    <div class="text-center text-white">
                        <img src="/static/images/team/nathalie.jpg"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Nathalie Luciani</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#2">
                    <div class="text-center text-white">
                        <img src="/static/images/team/myriam.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Myriam Reffay</h4>
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <div>
                    <div class="text-center text-white">
                        <img src="/static/images/team/aurore.png" style="border-radius: 50%; width: 90px; height: 90px">
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Aurore Van de Walle</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <a href="/biother/team/#5">
                    <div class="text-center text-white">
                        <img src="/static/images/team/anouchka.png"
                             style="border-radius: 50%; width: 90px; height: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <br/><h4 class="small-h4">Anouchka Plan</h4>
                    </div>
                </a>
            </div>

        </div>

        <h3>References</h3>
        <ul>
            <li class="circle">Mazuel F, Espinosa A, Radtke G, Bugnet M, Neveu S, Lalatonne Y, Botton GA, Abou-Hassan
                A, Wilhelm C. Magneto-Thermal Metrics Can Mirror the Long-Term Intracellular Fate of Magneto-Plasmonic
                Nanohybrids and Reveal the Remarkable Shielding Effect of Gold. Advanced Functional Materials, 27, 1605997 (2017).
            </li>
            <li class="circle">Massive Intracellular Biodegradation of Iron Oxide Nanoparticles Evidenced Magnetically
                at Single Endosome and Tissue Levels. Mazuel F, Espinosa A, Luciani N, Reffay M, Le Borgne R, Motte L,
                Desboeufs K, Michel A, Pellegrino T, Lalatonne Y, Wilhelm C. ACS Nano, 10, 7627- 38 (2016)
            </li>
            <li class="circle">Espinosa A, Curcio A, Cabana S, Radtke G, Bugnet M, Kolosnjaj-Tabi J, Péchoux C, Alvarez-Lorenzo C,
                Botton GA, Silva A, Abou-Hassan A, Wilhelm C. Intracellular Biodegradation of Ag Nanoparticles, Storage in Ferritin,
                and Protection by Au Shell for Enhanced Photothermal Therapy. ACS nano 12, 6523–6535 (2018)
            </li>
        </ul>

{% endblock %}