{% extends "public.html" %}
{% block content %}
    <div class="padding-md">
        <div class="section-header">
            <hr class="left visible-lg">
            <span>
                NEWS
            </span>
            <hr class="right visible-lg">
        </div>

        <style>
            .news-table img{ padding: 5px; }
            .news-table tr>th:first-child{ vertical-align: top; }
        </style>
        <table class="news-table">
            <tr>
                <td width="100px" align="center">
                    <img src="http://archives.cnrs.fr/image/cnrs-logo.svg" height="75px">
                </td>
                <td>
                    <h4>24 Mars 2015</h4>
                    Combiner magnétisme et lumière pour lutter contre le cancer<br>
                    <a href="http://www2.cnrs.fr/presse/communique/3969.htm">http://www2.cnrs.fr/presse/communique/3969.htm</a>
                </td>
            </tr>
            <tr>
                <td width="100px" align="center">
                </td>
                <td>
                    <h4>23 October 2018</h4>
                    “Cellular dust” provides new hope for regenerative medicine <br>
                    <a href="http://www.cnrs.fr/en/cellular-dust-provides-new-hope-regenerative-medicine">http://www.cnrs.fr/en/cellular-dust-provides-new-hope-regenerative-medicine</a>
                    <br><br><br>
                </td>
            </tr>
            <tr>
                <td width="100px">
                    <img src="https://www.prixgalien.fr/wp-content/themes/prix_galien/img/LogoQDM.FR.jpg" height="75px">
                </td>
                <td>
                    <h4>12 Septembre 2017</h4>
                    Des « legos » cellulaires magnétiques pour la médecine régénérative de demain <br>
                    <a href="http://www2.cnrs.fr/presse/communique/5181.htm?theme1=4">http://www2.cnrs.fr/presse/communique/5181.htm?theme1=4</a>
                </td>
            </tr>
            <tr>
                <td width="100px">

                </td>
                <td>
                    <h4>25 Octobre 2018</h4>
                    Une nouvelle approche de médecine régénérative pour traiter les fistules digestives  <br>
                    <a href="https://www.lequotidiendumedecin.fr/actualites/article/2018/10/25/une-nouvelle-approche-de-medecine-regenerative-pour-traiter-les-fistules-digestives_862186">https://www.lequotidiendumedecin.fr/actualites/article/2018/10/25/une-nouvelle-approche-de-medecine-regenerative-pour-traiter-les-fistules-digestives_862186</a>
                    <br><br><br>
                </td>
            </tr>
            <tr>
                <td width="100px">
                    <img src="https://recherche.univ-paris-diderot.fr/sites/all/themes/diderot/logo.png" height="75px">
                </td>
                <td>
                    Une avancée de la médecine régénérative  <br>
                    <a href="https://recherche.univ-paris-diderot.fr/actualites/une-avancee-de-la-medecine-regenerative">https://recherche.univ-paris-diderot.fr/actualites/une-avancee-de-la-medecine-regenerative</a>
                </td>
            </tr>

            <tr>
                <td width="100px">
                </td>
                <td>
                    De la recherche à l’entrepreneuriat <br>
                    <a href="https://universite.univ-paris-diderot.fr/actualites/de-la-recherche-lentrepreneuriat">https://universite.univ-paris-diderot.fr/actualites/de-la-recherche-lentrepreneuriat</a>
                </td>
            </tr>
            <tr>
                <td width="100px">
                </td>
                <td>
                    De la recherche à l’entrepreneuriat <br>
                    <a href="https://universite.univ-paris-diderot.fr/actualites/de-la-recherche-lentrepreneuriat">https://universite.univ-paris-diderot.fr/actualites/de-la-recherche-lentrepreneuriat</a>
                    <br><br><br>
                </td>
            </tr>
            <tr>
                <td width="100px">
                    <img src="https://knihovna.vsb.cz/.content/galerie-obrazku/e-zdroje/science_direct.jpg" height="75px">
                </td>
                <td>
                    <h4>1 janvier 2019</h4>
                    Theme issue on Physically-triggered nanosystems for therapy and diagnosis published on Advanced Drug Delivery Reviews and edited by BioTher researchers<br>
                    <a href="https://www.sciencedirect.com/journal/advanced-drug-delivery-reviews/vol/138/suppl/C">https://www.sciencedirect.com/journal/advanced-drug-delivery-reviews/vol/138/suppl/C</a>
                </td>
            </tr>
        </table>

        <br/><br/><br/><br/><br/><br/>
    </div>
{% endblock %}