{% extends "public.html" %}
{% block content %}
    <div id="partners">
        <div class="section-header">
            <hr class="left visible-lg">
            <span>
            NATIONAL ACADEMIC PARTNERS
        </span>
            <hr class="right visible-lg">
        </div>
        <div class="container" align="center">
            <div class="row">
                <div class="col-sm-4">
                    <div class="detail">
                        <div class="partner">
                            <br/><br/><br/>
                            <img width="100%" src="/static/images/partners/nap1.png" alt="National academic partners">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <h4>Laboratoire de recherche vasculaire translationnelle</h4>
                        <div class="seperator"></div>
                        <small>
                            Didier Letourneur, Laurence Motte and Yoann Lalatonne: UMR 1148 - Laboratoire de recherche vasculaire translationnelle
                            <br/><a href="http://lvts.fr/">http://lvts.fr/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                    <span>
                        <img width="30%" src="/static/images/partners/nap2.png" alt="National academic partners">
                        <span class="hoverBorderInner"></span>
                    </span>
                        <h4>Institute Physical And Chemistry De Strasbourg</h4>
                        <div class="seperator"></div>
                        <small>
                            Sylvie BÉGIN-COLIN
                            <br/><a href="www-ibmc.u-strasbg.fr">www-ibmc.u-strasbg.fr</a>
                        </small>
                        <p>

                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                    <span>
                        <img width="50%" src="/static/images/partners/nap3.png" alt="National academic partners">
                        <span class="hoverBorderInner"></span>
                    </span>
                        <h4>Institut de Biologie Moléculaire et Cellulaire</h4>
                        <div class="seperator"></div>
                        <small>
                            Alberto Bianco and Cécilia Ménard-Moyon: Université de Strasbourg
                            <br/><a href="www.ipcms.unistra.fr">www.ipcms.unistra.fr</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="detail">
                    <span>
                        <img width="40%" src="/static/images/partners/nap5.png" alt="National academic partners">
                        <span class="hoverBorderInner"></span>
                    </span>
                        <h4>Laboratoire Matériaux et Phénomènes Quantiques</h4>
                        <div class="seperator"></div>
                        <small>
                            Damien Alloyeau - Unibersité Paris 7
                            <br/><a href="http://www.mpq.univ-paris-diderot.fr/?lang=fr">http://www.mpq.univ-paris-diderot.fr/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                    <span>
                        <img width="65%" src="/static/images/partners/nap6.png" alt="National academic partners">
                        <span class="hoverBorderInner"></span>
                    </span>
                        <h4>Unité de Technologies Chimiques et Biologiques pour la Santé</h4>
                        <div class="seperator"></div>
                        <small>
                            Cyrille Richard – Université Paris Descartes
                            <br/><a href="http://www.upcgi.cnrs.fr/">http://www.upcgi.cnrs.fr/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                    <span>
                        <img width="50%" src="/static/images/partners/nap7.png" alt="National academic partners">
                        <span class="hoverBorderInner"></span>
                    </span>
                        <h4>Institut de Cancérologie de Lorraine</h4>
                        <div class="seperator"></div>
                        <small>
                            Lina Bolotine - Université de Lorraine
                            <br/><a href="www.icl-lorraine.fr/">www.icl-lorraine.fr/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="detail">
                    <span>
                        <img width="40%" src="/static/images/partners/nap8.png" alt="National academic partners">
                        <span class="hoverBorderInner"></span>
                    </span>
                        <h4>Laboratoire PHENIX, UMR 8234</h4>
                        <div class="seperator"></div>
                        <small>
                            Christine Ménager and Ali Abou-Hassan
                            <br/><a href="http://www.phenix.cnrs.fr/">http://www.phenix.cnrs.fr/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                    <span>
                        <img width="20%" src="/static/images/partners/nap9.png" alt="National academic partners">
                        <span class="hoverBorderInner"></span>
                    </span>
                        <h4>IBPS, Onnik Agbulut</h4>
                        <div class="seperator"></div>
                        <small>
                            <br/><a href="http://www.ibps.upmc.fr/fr/IBPS">http://www.ibps.upmc.fr/fr/IBPS</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                    <span>
                        <br><br><br>
                        <span class="hoverBorderInner"></span>
                    </span>
                        <h4>Marc Pocard</h4>
                        <div class="seperator"></div>
                        <small>
                            UMR 965 – Inserm<br>Hôpital Lariboisière
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
            </div>
        </div>


        <div class="section-header">
            <hr class="left visible-lg">
            <span>
            INTERNATIONAL ACADEMIC PARTNERS
        </span>
            <hr class="right visible-lg">
        </div>
        <div class="container" align="center">
            <div class="row">
                <div class="col-sm-4">
                    <div class="detail">
                        <div class="partner">
                            <img width="70%" src="/static/images/partners/iap1.png"
                                 alt="International academic partners">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <h4>Instituto Italiano di Tecnologia</h4>
                        <div class="seperator"></div>
                        <small>
                            Teresa Pellegrino: IIT, Genova, Italy
                            <br/><a href="https://www.iit.it">https://www.iit.it</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                    <span>
                        <img width="25%" src="/static/images/partners/iap2.png" alt="International academic partners">
                        <span class="hoverBorderInner"></span>
                    </span>
                        <h4>Universidade de São Paulo</h4>
                        <div class="seperator"></div>
                        <small>
                            Antonio Claudio Tedesco: Universidade de Sao Paulo, Brazil
                            <br/><a href="www5.usp.br">www5.usp.br</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                    <span>
                        <img width="50%" src="/static/images/partners/iap3.png" alt="International academic partners">
                        <span class="hoverBorderInner"></span>
                    </span>
                        <h4>Bio Nano</h4>
                        <div class="seperator"></div>
                        <small>
                            Toru Maekawa: Toyo University, Japan
                            <br/><a href="https://www.toyo.ac.jp/site/bionano/">https://www.toyo.ac.jp/site/bionano/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="detail">
                    <span>
                        <img width="30%" src="/static/images/partners/iap7.png" alt="International academic partners">
                        <span class="hoverBorderInner"></span>
                    </span>
                        <h4>CIC Biomagune</h4>
                        <div class="seperator"></div>
                        <small>
                            Luis M Liz-Marzán and Javier Reguera
                            <br/><a href="https://www.cicbiomagune.es/">https://www.cicbiomagune.es/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
            </div>
        </div>


        <div class="section-header">
            <hr class="left visible-lg">
            <span>
            CLINICIAN PARTNERS
        </span>
            <hr class="right visible-lg">
        </div>
        <div class="container" align="center">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-4">
                    <div class="detail">
                        <div class="partner">
                            <img width="70%" src="/static/images/partners/cp1.png" alt="Clinician partners">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <h4>PARCC, HEGP Hospital</h4>
                        <div class="seperator"></div>
                        <small>
                            Gabriel Rhami: PARCC, HEGP Hospital, France<br/>
                            Olivier Clément: PARCC, HEGP Hospital, France
                            <br/><a href="http://hopital-georgespompidou.aphp.fr/">http://hopital-georgespompidou.aphp.fr/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                    <span>
                        <img width="25%" src="/static/images/partners/cp3.png" alt="Clinician partners">
                        <span class="hoverBorderInner"></span>
                    </span>
                        <h4>Hospital Universitario Onofre Lopes</h4>
                        <div class="seperator"></div>
                        <small>
                            <br/><br/>
                            Irami Araujo Filho: Hospital Universitario Onofre Lopes, Brazil
                            <br/><a
                                href="http://www.ebserh.gov.br/web/huol-ufrn">http://www.ebserh.gov.br/web/huol-ufrn</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
            </div>
        </div>


        <div class="section-header">
            <hr class="left visible-lg">
            <span>
            INDUSTRIAL PARTNERS
        </span>
            <hr class="right visible-lg">
        </div>
        <div class="container" align="center">
            <div class="row">
                <div class="col-sm-4">
                    <div class="detail">
                        <div class="partner">
                            <img src="/static/images/partners/ip1.png" alt="Industrial partners">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <h4>Servier</h4>
                        <div class="seperator"></div>
                        <small>
                            France
                            <br/><a href="http://www.servier.fr/">http://www.servier.fr/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                        <div class="partner">
                            <img src="/static/images/partners/ip2.png" alt="Industrial partners">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <h4>Guerbet</h4>
                        <div class="seperator"></div>
                        <small>
                            France
                            <br/><a href="http://www.guerbet.fr/">http://www.guerbet.fr/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                        <div class="partner">
                            <img src="/static/images/partners/ip3.png" alt="Industrial partners">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <h4>Biolitec</h4>
                        <div class="seperator"></div>
                        <small>
                            France
                            <br/><a href="http://www.biolitec.com/">http://www.biolitec.com/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="detail">
                        <div class="partner">
                            <img width="70%" src="/static/images/partners/ip4.png" alt="Industrial partners">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <h4>Synthelis</h4>
                        <div class="seperator"></div>
                        <small>
                            France
                            <br/><a href="http://www.synthelis.com/">http://www.synthelis.com/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                        <div class="partner">
                            <img width="70%" src="/static/images/partners/ip5.png" alt="Industrial partners">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <h4>Evidence</h4>
                        <div class="seperator"></div>
                        <small>
                            France
                            <br/><a href="http://www.farmaciaevidence.com.br/">http://www.farmaciaevidence.com.br/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
                <div class="col-sm-4">
                    <div class="detail">
                        <div class="partner">
                            <img src="/static/images/partners/ip6.png" alt="Industrial partners">
                            <span class="hoverBorderInner"></span>
                        </div>
                        <h4>BASF</h4>
                        <div class="seperator"></div>
                        <small>
                            France
                            <br/><a width="70%" href="https://www.basf.com/">https://www.basf.com/</a>
                        </small>
                        <p>
                        </p></div><!--detail-->
                </div><!--col-->
            </div>
        </div>
    </div>
{% endblock %}