{% extends "base.html" %}
{% block extra_head %}
    <link href="/static/css/opensans-font.css" rel="stylesheet"/>
    <style>
        {% block style %}
        {% endblock %}
    </style>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-87071148-1', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock %}
{% block body %}
    <body id="body">
    <!-- Overlay Div -->
    <div id="overlay" class="transparent"></div>
    <div id="wrapper" class="preload">
        <header class="navbar navbar-fixed-top bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse"
                            data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><img src="/static/images/biother.png"/></a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/" class="top-link dropdown-toggle" data-toggle="dropdown">Research</a>
                            <ul class="dropdown-menu">
                                <li><a href="/biother/particles/">Nanoparticles, Quo Vadis?</a></li>
                                <li><a href="/biother/oncology/">Physical oncology</a></li>
                                <li><a href="/biother/nano/">Nanoparticle/drug biocamouflage</a></li>
                                <li><a href="/biother/combined_nano/">Combined Nano-Therapies</a></li>
                                <li><a href="/biother/magnetic/">Magnetic Tissue Engineering</a></li>
                                <li><a href="/biother/nano_fate/">Intracellular Nano-Fate</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/biother/team/" class="top-link">Team</a>
                        </li>
                        <li>
                            <a href="/biother/partners/" class="top-link">Partners</a>
                        </li>
                        <li>
                            <a href="/biother/publications/" class="top-link">Publications</a>
                        </li>
                        <li>
                            <a href="/biother/news/" class="top-link">News</a>
                        </li>
                        <li>
                            <a href="/biother/funding/" class="top-link">Funding</a>
                        </li>
                        <li>
                            <a href="/biother/gallery/" class="top-link">Gallery</a>
                        </li>
                        <!--
                        <li>
                            <a href="/biother/jobs/" class="top-link">Jobs & Internships</a>
                        </li>
                        -->
                    </ul>
                </nav>
            </div>
        </header>

        <div id="landing-content">
            {% block content %}


            {% endblock %}
        </div><!-- /landing-content -->

        <footer style="margin-left: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 padding-md">
                        <p class="font-lg"><a href="http://www.msc.univ-paris-diderot.fr/" target="_blank">Laboratoire
                            Matière et Systèmes Complexes (MSC) CNRS / Université Paris Diderot</a></p>
                        <p>
                            <small>
                                Bâtiment Condorcet<br/>
                                10 rue Alice Domon et Léonie Duquet<br/>
                                75205 Paris Cedex 13 - France<br/>
                            </small>
                        </p>
                    </div><!-- /.col -->
                    <div class="col-lg-4 padding-md">
                        <p class="font-lg">Contact</p>
                        <p>
                            <small>
                                <i class="fa fa-phone" aria-hidden="true"></i> (33) 01 57 27 62 03 &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-fax" aria-hidden="true"></i> (33) 01 57 27 62 11<br/>
                                florence.gazeau@univ-paris-diderot.fr<br/>
                                <i class="fa fa-phone" aria-hidden="true"></i> (33) 01 57 27 62 53 &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-fax" aria-hidden="true"></i> (33) 01 57 27 62 11<br/>
                                Claire.Wilhelm@univ-paris-diderot.fr<br/>
                                <a href="http://www.msc.univ-paris-diderot.fr/" target="_blank">http://www.msc.univ-paris-diderot.fr</a>
                            </small>
                        </p>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div>
        </footer>

    </div><!-- /wrapper -->

    <a href="#" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>


    <!--Modal-->
    <div class="modal fade" id="x">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Modal header</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body...</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        function modal(title, contentId) {
            console.log(title);
            $('#x .modal-header h4').html(title)
            var content = $('#' + contentId).html();
            console.log(content)
            $('#x .modal-body').html(content);
            $('#x .modal-body .hidden').removeClass('hidden');
            $('#x').modal('show');
        }
    </script>

    </body>
{% endblock %}