{% extends "public.html" %}
{% block content %}
    <div class="padding-md">
        <div class="section-header">
            <hr class="left visible-lg">
            <span>
                PUBLICATIONS
            </span>
            <hr class="right visible-lg">
        </div>

        <h3>International Journals</h3>

        <ol class="publications">
            <li>Extracellular vesicles for personalized medicine: The input of physically triggered production, loading and theranostic properties.Piffoux M, Nicolás-Boluda A, Mulens-Arias V, Richard S, Rahmi G, Gazeau F, Wilhelm C, Silva AKA. Adv Drug Deliv Rev doi: 10.1016/j.addr.2018 (2019).</li>
            <li>Recent insights in magnetic hyperthermia: From the "hot-spot" effect for local delivery to combined magneto-photo-thermia using magneto-plasmonic hybrids. Cazares-Cortes E, Cabana S, Boitard C, Nehlig E, Griffete N, Fresnais J, Wilhelm C, Abou-Hassan A, Ménager C. Adv Drug Deliv Rev. doi: 10.1016/j.addr.2018.10.016. (2019).</li>
            <li>Thermoresponsive Gel Embedding Adipose Stem Cell-Derived Extracellular Vesicles Promotes Esophageal Fistula Healing in a Thermo-Actuated Delivery Strategy. Silva AKA.; Perretta, S.; Perrod, G.; Pidial, L.; Lindner, V.; Carn, F.; Shony Lemieux; Alloyeau, D.; Boucenna, I.; Menasché, P.; Dallemagne, B.; Gazeau, F.; Wilhelm, C.; Cellier, C.; Clément, O.; Rahmi, G., ACS Nano. Oct 23;12(10):9800-9814 (2018).</li>
            <li>Theranostic Iron Oxide Nanoparticle Cargo Defines Extracellular Vesicle‐Dependent Modulation of Macrophage Activation and Migratory Behavior. Vladimir Mulens‐Arias, Alba Nicolás‐Boluda, Amanda Silva. Florence Gazeau. Advanced BioSystem  2, (9) 1800079 (2018).</li>
            <li>Physical oncology: New targets for nanomedicine.   Nicolas-Boluda A., Silva AKA.., Fournel S., Gazeau F. Biomaterials. 2018, 150:87-99.</li>
            <li>Disturbance of adhesomes by gold nanoparticles reveals a size- and cell type-bias. Mulens-Arias V, Balfourier A , Nicolás-Boluda A , Carn F , Gazeau F . Biomater Sci. Dec 18;7(1):389-408 (2018).</li>
            <li>Nanohybrids with Magnetic and Persistent Luminescence Properties for Cell Labeling, Tracking, In Vivo Real-Time Imaging, and Magnetic Vectorization. Teston E, Maldiney T, Marangon I, Volatron J, Lalatonne Y, Motte L, Boisson-Vidal C, Autret G, Clément O, Scherman D, Gazeau F, Richard C. Small. 14(16):e1800020 (2018).</li>
            <li>Role of growth factors and oxygen to limit hypertrophy and impact of high magnetic nanoparticles dose during stem cell chondrogenesis. Van de Walle A, Faissal W, Wilhelm C, Luciani N. Comput Struct Biotechnol J. 30;16:532-542. (2018).</li>

            <li>Magnetic (hyper)thermia or photo-thermia? Progressive comparison of iron oxide and gold nanoparticles heating in water, in cells, and in vivo. Espinosa A, Kolosnjaj-Tabi J, Abou-Hassan A, Plan Sangnier A, Curcio A, Silva AKA, Di Corato R, Neveu S, Pellegrino T, Liz-Marzán LM, Wilhelm C. Advanced Functional Materials 1803660 (2018)</li>
            <li>Intracellular Biodegradation of Ag Nanoparticles, Storage in Ferritin, and Protection by Au Shell for Enhanced Photothermal Therapy. Espinosa A, Curcio A, Cabana S, Radtke G, Bugnet M, Kolosnjaj-Tabi J, Péchoux C, Alvarez-Lorenzo C, Botton GA, Silva A, Abou-Hassan A, Wilhelm C. ACS nano 12, 6523–6535 (2018)</li>
            <li>Targeted thermal therapy with genetically engineered magnetite magnetosomes@RGD: Photothermia is far more efficient than magnetic hyperthermia. Plan A, Preveral S, Curcio A, Silva A, Lefèvre CT, Pignol D, Lalatonne Y, Wilhelm C. Journal of Controlled Release 279, 271-281 (2018) </li>
            <li>Modification of Extracellular Vesicles by Fusion with Liposomes for the Design of Personalized Biogenic Drug Delivery Systems. Piffoux M, Silva AKA, Wilhelm C, Gazeau F, Tareste D. ACS nano 12, 6830-6842 (2018)</li>
            <li>Thermal Polymerization on the Surface of Iron Oxide Nanoparticles Mediated by Magnetic Hyperthermia: Implications for Multi-Shell Grafting and Environmental Applications. Griffete N, Fresnais J, Espinosa A, Taverna D, Wilhelm C, Ménager C. ACS Applied Nano Materials 1, 547-555 (2018)</li>
            <li>Monitoring the dynamics of cell-derived extracellular vesicles at the nanoscale by liquid-cell transmission electron microscopy. Piffoux M, Ahmad N, Nelayah J, Wilhelm C, Silva A, Gazeau F, Alloyeau D. Nanoscale 10, 1234-1244 (2018)</li>
            <li>A 3D magnetic tissue stretcher for remote mechanical control of embryonic stem cell differentiation. Du V, Luciani N, Richard S, Mary G, Gay C, Mazuel F, Reffay M, Menasché P, Agbulut O, Wilhelm C. Nature Communications, 8, 400 (2017)</li>
            <li>Ferritin Protein Regulates the Degradation of Iron Oxide Nanoparticles J. Volatron, F. Carn, J. Kolosnjaj-Tabi, Y. Javed, Q. L. Vuong, Y. Gossuin, C. Ménager, N. Luciani, G. Charon, M. Hémadi, D. Alloyeau*, F. Gazeau*, Small, 13, 2 (2017) </li>
            <li>Tumor stiffening, a key determinant of tumor progression, is reversed by nanoparticle- induced photothermal therapy I. Marangon, A.A. K. Silva, T. Guilbert, J. Kolosnjaj-Tabi, C. Marchiol, S. Natkhunarajah, F. Chamming’s, A Bianco, C. Menard Moyon, J-L Genisson, G. Renault, F. Gazeau*, Theranostics, 7, 329 (2017) </li>
            <li>Magneto-Thermal Metrics Can Mirror the Long-Term Intracellular Fate of Magneto-Plasmonic Nanohybrids and Reveal the Remarkable Shielding Effect of Gold. Mazuel F, Espinosa A, Radtke G, Bugnet M, Neveu S, Lalatonne Y, Botton GA, Abou-Hassan A, Wilhelm C. Adv Funct Mat, 27, 1605997 (2017) Cover http://onlinelibrary.wiley.com/doi/10.1002/adfm.201770051/full </li>
            <li>Magnetic nanoparticles in cancer therapy: how can thermal approaches help? Jelena Kolosnjaj-Tabi, Claire Wilhelm. Nanomedicine, 12, 573-575 (2017) </li>
            <li>Bone marrow-derived mesenchymal stem cell-loaded fibrin patches act as a reservoir of paracrine factors in chronic myocardial infarction. Blondiaux E, Pidial L, Autret G, Rahmi G, Balvay D, Audureau E, Wilhelm C, Guerin CL, Bruneval P, Silvestre J-S, Menasché P, Clément O. J. Tiss. Eng. Reg. Med. 10.1002/term.2255 (2017) </li>
            <li>Massive Intracellular Biodegradation of Iron Oxide Nanoparticles Evidenced Magnetically at Single Endosome and Tissue Levels. Mazuel F, Espinosa A, Luciani N, Reffay M, Le Borgne R, Motte L, Desboeufs K, Michel A, Pellegrino T, Lalatonne Y, Wilhelm C. ACS Nano, 10, 7627- 38 (2016) </li>
            <li>Duality of Iron Oxide Nanoparticles in Cancer Therapy: Amplification of Heating Efficiency by Magnetic Hyperthermia and Photothermal Bimodal Treatment Espinosa A, Di Corato R, Kolosnjaj-Tabi J, Flaud P, Pellegrino T, Wilhelm C. ACS Nano, 10, 2436-46 (2016) </li>
            <li>Synergic mechanisms of photothermal and photodynamic therapies mediated by photosensitizer/carbon nanotube complexes I. Marangon, C. Ménard-Moyon, A. K. A. Silva, A. Bianco, N. Luciani, F. Gazeau Carbon, 97 : 110-123 (2016) </li>
            <li>In vivo degeneration and fate of inorganic nanoparticles N Feliu, D Docter, M Heine, P del Pino, S Ashraf, J Kolosnjaj-Tabi, P Macchiarini, P Nielsen, D Alloyeau*, F Gazeau*, R Stauber*, W. J. Parak* Chemical Society Review 45:2440-2457 (2016) review </li>
            <li>Massive release of extracellular vesicles from cancer cells after photodynamic treatment or chemotherapy. Aubertin K, Silva AKA, Luciani N, Espinosa A, Djemat A, Charue D, Gallet F, Blanc-Brude O, Wilhelm C. Scientific Reports, 6, 35376 (2016) </li>
            <li>Successful chondrogenesis within scaffolds, using magnetic stem cell confinement and bioreactor maturation. Luciani N, Du V, Gazeau F, Richert A, Letourneur D, Le Visage C, Wilhelm C. Acta Biomaterialia, 37, 101-110 (2016) </li>
            <li>Cancer cell internalisation of gold nanostars impacts their photothermal efficiency in vitro and in vivo: towards a plasmonic thermal fingerprint in tumoral environment Espinosa A, Silva AKA, Sánchez-Iglesias A, Grzelczak M, Péchoux C, Desboeufs K, Liz-Marzán LM, Wilhelm C. Advanced HealthCare Materials, 5, 1040- 48 (2016) Cover. http://onlinelibrary.wiley.com/doi/10.1002/adhm.201670046/full </li>
            <li>Multifunctional core-shell hybrid nano-composites made using Pickering emulsions: A new design for therapeutic vectors. Fontecave T, Bourbousson M, Chanéac C, Wilhelm C, Espinosa A, Fortin M-A, Sanchez C, Boissiere C. New Journal of Chemistry, 40, 4436-4446 (2016) </li>
            <li>Zinc substituted ferrite nanoparticles with Zn0.9Fe2.1O4 formula used as heating agents for in vitro hyperthermia assay on glioma cells. Hanini A, Lartigue L, Gavard J, Kacem K, Wilhelm C, Gazeau F, Chau F, Merah S. J Mag Mag Mat, 416, 315-20 (2016) </li>
            <li>Biotransformations of magnetic nanoparticles in the body Kolosnjaj-Tabi J, Lartigue L, Javed Y, Luciani N, Pellegrino T, Wilhelm C, Alloyeau D, Gazeau F, Nano Today, 11, 280-84 (2016) </li>
            <li>Designing 3D Mesenchymal Stem Cell Sheets Merging Magnetic and Fluorescent Features: When Cell Sheet Technology Meets Image-Guided Cell Therapy Rahmi G, Pidial L, Silva AKA, Blondiaux E, Meresse B, Gazeau F, Autret G, Balvay D,Cuenod CA, Perretta S, Tavitian B, Wilhelm C, Cellier C, Clément O. Theranostics, 6, 739-51 (2016) </li>
            <li>Thermosensitivity profile of malign glioma U87-MG cells and human endothelial cells following γ-Fe2O3 NPs internalisation and magnetic field application. Hanini A, Lartigue L, Gavard J, Schmitt A, Kacem K, Wilhelm C, Gazeau F, Chau F, Merah S. RSC Advances, 6, 15415 (2016) </li>
            <li>Can magneto-plasmonic nanohybrids efficiently combine photothermia with magnetic hyperthermia? Espinosa A, Bugnet M, Radtke G, Neveu S, Botton GA, Wilhelm C*, Abou-Hassan A*. Nanoscale, 7, 18872-18877 (2015) Cover. </li>
            <li>Magnetic drug carriers: Bright insights from light-responsive magnetic liposomes. Silva AKA, Ménager C, Wilhelm C. Nanomedicine. 10, 2797-2799 (2015) </li>
            <li>Magnetic flattening of stem-cell spheroids indicates a size-dependent elastocapillary transition. Mazuel F, Reffay M, Du V, Bacri J-C, Rieu J-P, Wilhelm C. Phys Rev Lett, 114, 098105 (2015). Editors' Suggestion. Featured in Physics http://physics.aps.org/synopsis-for/10.1103/PhysRevLett.114.098105. </li>
            <li>Combining magnetic hyperthermia and photodynamic therapy for tumor ablation with photoresponsive magnetic liposomes. Di Corato R, Béalle G, Kolosnjaj-Tabi J, Espinosa A, Clément O, Silva AKA, Ménager C, Wilhelm C. ACS Nano, 9, 2904-2916 (2015) CNRS press release http://www2.cnrs.fr/presse/communique/3969.htm </li>
            <li>Magnetic engineering of stable rod-shaped stem cell aggregates: circumventing the pitfall of self-bending. Fayol D, Du V, Reffay M, Luciani N, Bacri J-C, Gay C, Wilhelm C. Integrative Biology, 7, 170-177 (2015) Journal cover. “Hot article” http://blogs.rsc.org/ib/category/hot-articles/ </li>
            <li>Cell microvesicles for magnetic drug targeting. Silva AKA, Luciani N, Gazeau F, Aubertin K, Bonneau S, Chauvierre C, Letourneur D, Wilhelm C. Nanomedicine NBM, 11, 645–655 (2015) </li>
            <li>Design of magnetic molecularly imprinted polymer nanoparticles for controlled release of doxorubicin under an alternative magnetic field in athermal conditions. Griffete N, Fresnais J, Espinosa A, Wilhelm C, Bée A, Ménager C. Nanoscale, 7, 18891-18896 (2015) </li>
            <li>Hollow iron oxide nanoparticles in polymer nanobeads as MRI contrast agents. Bigall N, Dilena E, Dorfs D, Beoutis M-L, Pugliese G, Wilhelm C, Gazeau F, Khan AA, Bittner A, Garcia MA, Garcia-Hernandez M, Manna L, Pellegrino T. J Phys Chem C, 119, 6246–6253 (2015) </li>
            <li>Antitumoral effect of mural cells assessed with high-resolution MRI and fluorescence microscopy. Faye N, Fournier L, Balvay D, Wilhelm C, Broqueres-You D, Bruneval P, Clément O. American J Roent, 205, W11-W18 (2015) </li>
            <li>Design, Properties, and In Vivo Behavior of Super-paramagnetic Persistent Luminescence Nanohybrids. Teston E, Lalatonne Y, Elgrabli D, Autret G, Motte L, Gazeau F, Scherman D, Clément O, Richard C, Maldiney Small. 11(22):2696-704 (2015) </li>
            <li>Transferrin-bearing maghemite nano-constructs for biomedical applications H. Piraux, J. Hai, T. Gaudisson, S. Ammar, F. Gazeau, J. M. El Hage Chahine, M. Hémadi Journal of Applied Physics 117(17):17A336 (2015) 108- </li>
            <li>Unravelling Kinetic and Thermodynamic Effects on the Growth of Gold Nanoplates by Liquid Transmission Electron Microscopy. Alloyeau D, Dachraoui W, Javed Y, Belkahla H, Wang G, Lecoq H, Ammar S, Ersen O, Wisnet A, Gazeau F, Ricolleau C. Nano Lett. 15(4):2574-81 (2015) </li>
            <li>The One Year Fate of Iron Oxide Coated Gold Nanoparticles in Mice Kolosnjaj-Tabi J, Javed Y, Lartigue L, Volatron J, Elgrabli D, Marangon I, Pugliese G, Caron B, Figuerola A, Luciani N, Pellegrino T, Alloyeau D, Gazeau F ACS Nano. 9(8):7925-39 (2015). </li>
            <li>Carbon Nanotube Degradation in Macrophages: Live Nanoscale Monitoring and Understanding of Biological Pathway Elgrabli D, Dachraoui W, Ménard-Moyon C, Liu XJ, Bégin D, Bégin-Colin S, Bianco A, Gazeau F, Alloyeau D. ACS Nano. 9(10):10113-24 (2015) </li>
            <li>Covalent Functionalization of Multi-walled Carbon Nanotubes with a Gadolinium Chelate for Efficient T1-Weighted Magnetic Resonance Imaging. Marangon, I., Ménard-Moyon, C., Kolosnjaj-Tabi, J., Béoutis, M. L., Lartigue, L., Alloyeau, D., Pach, E., Ballesteros, B., Autret, G., Ninjbadgar, T., Brougham, D. F., Bianco, A. and Gazeau, F. Adv. Funct. Mater. 24(45): 7173–7186 (2014) </li>
            <li>Mastering the Shape and Composition of Dendronized Iron Oxide Nanoparticles To Tailor Magnetic Resonance Imaging and Hyperthermia A.Walter, C. Billotey, A. Garofalo, C. Ulhaq-Bouillet, C. Lefèvre, J. Taleb, S. Laurent, L. Vander Elst, R. N. Muller, L. Lartigue, F. Gazeau, D. Felder-Flesch, S. Begin-Colin Chem. Mater. 26 (18), pp 5252–5264 (2014) </li>
            <li>Magnetic hyperthermia efficiency in the cellular environment for different nanoparticle designs Di Corato R, Espinosa A, Lartigue L, Tharaud M, Chat S, Pellegrino T, Ménager C, Gazeau F, Wilhelm C. Biomaterials 24, 6400–6411 (2014) </li>
            <li>Magnetically shaped cell aggregates: from granular to contractile materials. Frasca G, Du V, Bacri J-C, Gazeau F, Gay C, Wilhelm C. Soft Matter, 10, 5045-54 (2014) Journal cover. </li>
            <li>Heat-Generating Iron Oxide Nanocubes: Subtle “Destructurators” of the Tumoral Microenvironment. Kolosnjaj-Tabi J, Di Corato R, Lartigue L, Marangon I, Guardia P, Silva A, Luciani N, Clément O, Flaud P, Singh JV, Decuzzi P , Pellegrino T, Wilhelm C, Gazeau F. ACS Nano, 8, 4268–4283 (2014) </li>
            <li>Design of Covalently Functionalized Carbon Nanotubes Filled with Metal Oxide Nanoparticles for Imaging, Therapy, and Magnetic Manipulation. Liu X, Marangon I, Melinte G, Wilhelm C, Ménard-Moyon C, Pichon B, Ersen O, Aubertin K, Baaziz W, Cuong Pham-Huu C, Bégin-Colin S, Bianco A, Gazeau F, Bégin D. ACS Nano, 8, 11290–11304 (2014) </li>
            <li>Biodegradation mechanisms of iron oxide monocrystalline nanoflowers and tunable shield effect of gold coating. Javed Y, Lartigue L, Hugounenq P, Vuong QL, Gossuin Y, Bazzi R, Wilhelm C, Ricolleau C, Gazeau, F, Alloyeau D. Small 10, 3325-3337 (2014) </li>
            <li>Surface Decoration of Catanionic Vesicles by Superparamagnetic Iron Oxide Nanoparticles: a Model System for Triggered Release with Moderate Temperature Conditions. Béalle G, Lartigue L, Wilhelm C, Ravaux J, Gazeau F, Podor R, Ménager C, Carrière D. Phys Chem Chem Phys, 16, 4077-4081 (2014) </li>
            <li>Life cycle of magnetic nanoparticles in the organism. Kolosnjaj-Tabi J, Javed Y, Lartigue L, Péchoux C, Luciani N, Alloyeau D, Gazeau F. Biol Aujourdhui. 208(2):177-90 (2014) review </li>
            <li>Strong and specific interaction of ultra small superparamagnetic iron oxide nanoparticles and human activated platelets mediated by fucoidan coating. Bachelet-Violette L, Silva AK, Maire M, Michel A, Brinza O, Ou P, Nicoletti A, Wilhelm C, Letourneur D, Ménager C, Chaubet F. RSC Advances, 4, 4864-4871 (2014) </li>
            <li>Nanomedicine metaphors: From war to care. Emergence of an oecological approach S. Loeve, B. Bensaude Vincent, F. Gazeau Nanotoday, 8(6) p560-565 (2013) </li>
            <li>Cell-derived Vesicles as a Bioplatform for the Encapsulation of Theranostic Nanomaterials. Silva AKA, Di Corato R, Luciani N, Chat S, Gazeau F, Pellegrino T, Wilhelm C. Nanoscale. 7, 11374-84 (2013) Journal cover. </li>
            <li>Impact of photosensitizers on intracellular trafficking and viscosity. Aubertin K, Bonneau S, Andriola A, Gallet F, Wilhelm C. Plos One. 8, e84850 (2013) </li>
            <li>High resolution multiplex MRI: gadolinium and iron oxides nanoparticles for in depth imaging of multi-cellular engineered tissue constructs. Di Corato R, Gazeau F, Le Visage C, Fayol D, Levitz P, Lux F, Letourneur D, Luciani N, Tillement O, Wilhelm C. ACS nano, 7, 7500–7512 (2013) </li>
            <li>Magnetic and photoresponsive theranosomes: translating cell-released vesicles into smart nanovectors for cancer therapy. Andriola A, Kolosnjaj J, Bonneau S, Marangon I , Bogetto N, Aubertin K, Clément O, Bureau MF, Luciani N, Gazeau F, Wilhelm C. ACS nano 7, 4954–4966 (2013) </li>
            <li>Magnetic forces promote stem cell differentiation, aggregates fusion and tissue building. Fayol D, Frasca G, Le Visage C, Gazeau F, Luciani N, Wilhelm C. Advanced Materials. 25, 2611-2616 (2013) </li>
            <li>Design of biomimetic vascular grafts with magnetic endothelial patterning. Fayol D, Le Visage C, Ino J, Gazeau F, Letourneur D, Wilhelm C. Cell Transplantation, 22, 2105-18 (2013) Journal cover. </li>
            <li>Managing magnetic nanoparticle aggregation and cellular uptake: a precondition for efficient stem−cell differentiation and MRI tracking. Fayol D, Luciani N, Lartigue L, Gazeau F, Wilhelm C. Advanced Healthcare Materials, 2: 313-25 (2013) </li>
            <li>Colloidal Assemblies in a Polymer Shell – A Novel Type of Magnetic Nanobeads for Theranostic Applications. Bigal NC, Wilhelm C, Beoutis M-L, Kahn AA, Manna L, Giannini C, Garcia MA, Gazeau F, Bittner AM, Pellegrino T. Chem. Mater. 25, 1055–1062 (2013) </li>
            <li>Revisiting MRI contrast properties of nanoparticles: beyond the superparamagnetic regime. Lévy M, Gazeau F, Wilhelm C, Neveu S, Devaud M, Levitz P. J Phys Chem C 117, 15369-74 (2013) </li>
            <li>Biodegradation of Iron Oxide Nanocubes: High Resolution In Situ Monitoring. Lartigue L, Alloyeau D, Kolosnjaj-Tabi J, Javed Y, Guardia P, Pellegrino T, Wilhelm C, Gazeau F. ACS nano 7 : 3939-52 (2013) </li>
            <li>Endowing carbon nanotubes with superparamagnetic properties: applications for cell labeling, MRI cell tracking and magnetic manipulations. Lamanna G, Garofalo A, Popa G, Wilhelm C, Begin-Colin S, Felder-Flesch D, Bianco A, Gazeau F, Ménard-Moyon C. Nanoscale. 5: 4412-21 (2013) </li>
            <li>Magnetic properties of iron oxide nanoparticles prepared by seeded-growth route. Espinosa A, Munoz A, Garcia-Hernandez M, Serrano A, Jimenez J, Figuerola A, Quarta A, Pellegrino T, Wilhelm C, Garcia MA. J Nanoparticle Research, 15: 1514 (2013) </li>
            <li>Considerations for the clinical use of contrast agents for cellular MRI in regenerative medicine. Modo M, Kolosnjaj-Tabi J, Nicholls F, Ling W, Wilhelm C, Debarge O, Gazeau F, Clement O. Contrast Media and Molecular Imaging 8, 439-455 (2013) </li>
            <li>Localization and relative quantification of carbon nanotubes in cells with multispectral imaging flow cytometry. Marangon I, Boggetto N, Ménard-Moyon C, Luciani N, Wilhelm C, Bianco A, Gazeau F. J Vis Exp. 82 (2013) </li>
            <li>Cell labeling with magnetic nanoparticles: Opportunity for magnetic cell imaging and cell manipulation. Kolosnjaj-Tabi J, Wilhelm C, Clément O, Gazeau F. J Nanobiotech 11, S7 (2013) </li>
            <li>Magnetophoresis at the nanoscale: tracking magnetic targeting efficiency of nanovectors. Andriola Silva A, Di Corato R, Gazeau F, Pellegrino T, Wilhelm C. Nanomedicine, 7, 1713-27 (2012) </li>
            <li>Ultra magnetic liposomes for MR imaging, targeting, and hyperthermia. Béalle G, Di Corato R, Kolosnjaj−Tabi J, Dupuis V, Clément O, Gazeau F, Wilhelm C, Ménager C. Langmuir, 28, 11834−42 (2012) </li>
            <li>Magnetic electrospun fibers for heating cancer cells. Huang C, Soenen SJ, Trekker J, Chengxun L, Ceelen W, Wilhelm C, Demeester J, De Smedt SC. Advanced Funct Mat . 22, 2479-86 (2012) </li>
            <li>Al Faraj A, Gazeau F, Wilhelm C, Devue C, Guerin C, Pechoux C, Paradis V, Clément O, Boulanger C, Rautou PE. Endothelial cell-derived microparticles loaded with iron oxide nanoparticles: feasibility of MR imaging monitoring in mice. Radiology . 263, 169−178 (2012) </li>
            <li>TI-VAMP/VAMP7 is the snare of secretory lysosomes contributing to ATP secretion from astrocytes. Verderio C, Bergami M, Cagnoli C, Schenk U, Riganti L, Frassoni C, Zuccaro E, Danglot L, Wilhelm C, Galli T, Canossa M, Matteoli M. Biology of the cell . 104, 213-28 (2012) </li>
            <li>Cooperative organization in iron oxide multi-core nanoparticles potentiates their efficiency as heating mediators and MRI contrast agents. Lartigue L, Hugounenq P, Alloyeau D, Clarke SP, Levy M, Bacri J-C, Bazzi R, Brougham DF, Wilhelm C, Gazeau F. ACS Nano, 6, 10935–10949 (2012) </li>
            <li>Cellular transfer of magnetic nanoparticles via cell microvesicles: Impact on cell tracking by Magnetic Resonance Imaging. Silva AKA, Wilhelm C, Kolosnjaj-Tabi J, Luciani N, Gazeau F. Pharm. Res. 29, 1392−1403 (2012) Journal cover. </li>
            <li>Iron oxide monocrystalline nanoflowers for highly efficient magnetic hyperthermia. Hugounenq P, Levy M, Alloyeau D, Lartigue L, Dubois E, Cabuil V, Ricolleau C, Roux S, Wilhelm C, Gazeau F, Bazzi R. Journal of Physical Chemistry C 116, 15702−15712 (2012) </li>
            <li>Nanomagnetic Sensing of Blood Plasma Protein Interactions with Iron Oxide Nanoparticles: Impact on Macrophage Uptake. Lartigue L, Wilhelm C, Servais J, Factor C, Dencausse A, Bacri J-C, Luciani N, Gazeau F. ACS Nano, 6, 2665-78 (2012) </li>
            <li>Intercellular carbon nanotube translocation assessed by flow cytometry imaging. Marangon I, Boggetto N, Ménard−Moyon C, Venturelli E, Béoutis ML, Péchoux C, Luciani N, Wilhelm C, Bianco A, Gazeau F. NanoLett, 12, 4830−7 (2012) </li>
            <li>Real−time high resolution magnetic resonance tracking of macrophage subpopulations in a murine inflammation model: a pilot study with a commercially available cryogenic probe. Al Faraj A, Luciani N, Kolosnjaj−Tabi J, Mattar E, Clement O, Wilhelm C, Gazeau F. Contrast Media Molecular Imaging, 8, 193-203 (2012) </li>
            <li>Water soluble iron oxide nanocubes with high values of specific absorption rate for cancer cell hyperthermia treatment. Guardia P, Di Corato R, Lartigue L, Wilhelm C, Espinosa A, Garcia−Hernandez MA, Gazeau F, Manna L, Pellegrino T. ACS Nano, 6, 3080−91 (2012) </li>
            <li>How cellular processing of superparamagnetic nanoparticles affects their magnetic behavior and NMR relaxivity ? Lévy M, Wilhelm C, Devaud M, Levitz P, Gazeau F. Contrast Media & Molecular Imaging . 7, 373−383 (2012) </li>
            <li>Adipose tissue macrophages: MR tracking to monitor obesity-associated inflammation. Luciani A, Dechoux S, Deveaux V, Poirier-Quinot M, Luciani N, Levy M, Ballet S, Manin S, Pechoux C, Autret G, Clément O, Rahmouni A, Mallat A, Wilhelm C, Lotersztajn S, F Gazeau. Radiology. 63, 786−793 (2012) </li>
            <li>Endothelial cell-derived microparticles loaded with iron oxide nanoparticles: feasibility of MR imaging monitoring in mice. Al Faraj A, Gazeau F, Wilhelm C, Devue C, Guerin C, Pechoux C, Paradis V, Clément O, Boulanger C, Rautou PE. Radiology . 263, 169−178 (2012) </li>
            <li>Can Magnetic Targeting of Magnetically Labeled Endothelial Progenitor Circulating Cells Optimize Intramyocardial Cell Engraftment? Chaudeurge A, Wilhelm C, Chen-Tournoux A, Farahmand P, Bellamy V, Autret G, Larghéro J, Thiam R, Desnos M, Hagège A, Gazeau F, Clément O, Menasché P. Cell Transplantation. 21, 679−691 (2012) </li>
            <li>Magnetic nano-manipulations inside living cells to get consensus for intracellular mechanics. Robert D, Aubertin K, Bacri JC, Wilhelm C. Phys Rev E . 85, 011905 (2012) </li>
            <li>Nanoparticules magnétiques au cœur des cellules : des outils pour les thérapies cellulaires Wilhelm C, Gazeau F Biol Aujourd’hui. 206(4):273-84 (2012) review </li>
            <li>Cell sorting by endocytotic capacity in a microfluidic magnetophoresis device. Robert D, Pamme N, Conjeaud H, Gazeau F, Alexander Iles A, Wilhelm C. Lab on Chip. 11, 1902-1910 (2011) Journal cover. </li>
            <li>Multifunctional nanovectors based on magnetic nanoparticles coupled with biological vesicles or synthetic liposomes. Lesieur S, Gazeau F, Menager C, Wilhelm C. J. Mat. Chem. 21, 14387-14393 (2011) </li>
            <li>Magnetic targeting of steroidal anti-estrogen RU-58668 via magnetic-fluid loaded liposomes significantly enhances the drug antitumor activity against MCF-7 human breast cancer cell line. Plassat V, Wilhelm C, Marsaud V, Ménager C, Gazeau F, Renoir J-M, Lesieur S. Advanced Functional Materials. 21, 83-92 (2011) </li>
            <li>Brulé S, Lévy M, Wilhelm C, Letourneur D, Gazeau F, Ménager C, Le Visage C. Doxorubicin release triggered by alginate embedded magnetic nanoheaters: a combined therapy. Advanced Materials. 23, 787-790 (2011) </li>
            <li>Long term in vivo biotransformation of iron oxide nanoparticles. Levy M, Luciani N, Alloyeau D, Elgrabli D, Deveaux V, Pechoux C, Chat S, Wang G, Vats N, Gendron F, Factor C, Lotersztajn S, Luciani A, Wilhelm C, Gazeau F. Biomaterials. 32, 3988-99 (2011) </li>
            <li>Modelling magnetic nanoparticle dipole-dipole interactions inside living cells. Levy M, Gazeau F, Bacri J-C, Wilhelm C, Devaud M. Phys. Rev B. 84, 075480 (2011) </li>
            <li>Correlating Magneto-Structural Properties to Hyperthermia Performance of Highly Monodisperse Iron Oxide Nanoparticles Prepared by a Seeded-Growth Route. Lévy M, Quarta A, Espinosa A, Figuerola A, Wilhelm C, García-Hernández M, Genovese A, Falqui A, Alloyeau D, Buonsanti R, Cozzoli PD, García MA, Gazeau F, Pellegrino T. Chem. Mater. 23, 4170–4180 (2011) </li>
            <li>Nanomagnetism reveals the intracellular fate of nanoparticles in the organism. Levy M, Wilhelm C, Luciani N, Deveaux V, Elgrabli D, Pechoux C, Gendron F, Luciani A, Devaud M, Gazeau F. Nanoscale . 3, 4402-4410 (2011) </li>
            <li>Different localizations of hydrophobic magnetic nanoparticles within vesicles trigger their efficiency as magnetic nano-heaters. Beaune G, Levy M, Neveu S, Gazeau F, Wilhelm C, Ménager C. Soft Matter . 7, 6248-6254 (2011) </li>
            <li>In vivo determination of fluctuating forces during endosome trafficking. Robert D, Nguyen TH, Gallet F, Wilhelm C. PLoS one. 5, e10046. (2010) </li>
            <li>Magnetic micro-manipulations inside porous scaffolds to probe the local physical properties and to confine stem cells. Robert D, Fayol D, Le Visage C, Frasca G, Brulé S, Ménager C, Gazeau F, Letourneur D, Wilhelm C. Biomaterials. 31, 1586-1595 (2010) </li>
            <li>Local control of magnetic objects in microfluidic channels. Derec C, Wilhelm C, Servais J, Bacri J-C. Microfluidics and Nanofluidics. 8, 123-130 (2010) </li>
            <li>High resolution magnetic resonance imaging for tissue engineering construct: a non invasive tool to assess 3D scaffold architecture and cell seeding. Poirier-Quinot M, Frasca G, Wilhelm C, Luciani N, Ginefri J-C, Darrasse L, Letourneur D, Le Visage C, Gazeau F. Tissue Engineering. 16, 185-200 (2010) </li>
            <li>Gazeau F, Wilhelm C. Magnetic labelling, imaging and manipulation of Endothelial Progenitor Cells using iron oxide nanoparticles. Future Medicinal Chemistry. 2, 397-408 (2010) </li>
            <li>Magnetic tagging of cell-derived microparticles : new prospects for imaging and manipulation of these mediators of biological information. Vats N, Wilhelm C, Rautou P-E, Poirier-Quinot M, Péchoux C, Devue C, Boulanger CM, Gazeau F. Nanomedicine. 5, 727-738 (2010) </li>
            <li>Degradability of superparamagnetic nanoparticles in a model of intracellular environment: follow-up of magnetic, structural and chemical properties. Lévy M, Lagarde F, Maraloiu V-A, Blanchin M-G, Gendron F, Wilhelm C, Gazeau F. Nanotechnology. 21, 395103 (2010) </li>
            <li>Cell-released microvesicles are vectors for intercellular transfer of magnetic nanoparticles in the monocyte/macrophage system. Luciani N, Wilhelm C, Gazeau F. Biomaterials. 27, 7061-7069 (2010) </li>
            <li>Formation of three-dimensional multicellular assembly using magnetic patterning. Frasca G, Gazeau F, Wilhelm C. Langmuir. 25, 2348-2354 (2009) </li>
            <li>Reactivity of the monocyte/macrophage system to superparamagnetic anionic nanoparticles. Luciani N, Gazeau F, Wilhelm C. J. Mat. Chem. 19, 6373 - 6380 (2009) </li>
            <li>Magnetic targeting of murine hepatocytes dually labelled with magnetic and fluorescent markers in a liver cell transplant model. Luciani A, Wilhelm C, Autret G, Bruneval P, Rahmouni A, Clément O, Gazeau F. European Radiology. 19, 1087-1096 (2009) </li>
            <li>Magnetic nanoparticles: internal probes and heaters within living cells. Wilhelm C, Gazeau F. J Mag Mag Mat 321, 671-674 (2009). </li>
            <li>Monitoring of muscle explants autograft in urethral sphincter by non invasive MRI combined with magnetic labelling. Rivière C, Lecoeur C, Wilhelm C, Roger J, Yiou R, Gazeau F. Biomaterials. 30, 6920-6928 (2009) </li>
            <li>The importance of particle type selection and temperature control for on-chip free-flow magnetophoresis Tarn MD, Peyman SA, Robert D, Iles A, Wilhelm C, Pamme N. J Mag Mag Mat. 321, 4115-4122 (2009) </li>
            <li>Out-of-equilibrium microrheology inside living cells. Wilhelm C. Phys. Rev. Lett. 101, 028101 (2008) </li>
            <li>Universal cell labelling with anionic magnetic nanoparticles. Wilhelm C, Gazeau F. Biomaterials. 29 : 3161-3174 (2008) </li>
            <li>Intracellular trafficking of magnetic nanoparticles to design multifunctional biovesicles. Wilhelm C, Lavialle F, Péchoux C, Tatischeff I, Gazeau F. Small. 4 : 577-82 (2008) </li>
            <li>Different microtubule motors move early and late endocytic compartments. Loubéry S, Wilhelm C, Hurbain I, Neveu S, Louvard D, Coudrier E. Traffic. 9 : 492-509 (2008) </li>
            <li>The effect of magnetic targeting on the uptake of magnetic-fluid-loaded liposomes by human prostatic adenocarcinoma cells. Martina MS, Wilhelm C, Lesieur S. Biomaterials. 29, 4137-4145 (2008) </li>
            <li>Linear patterning of magnetically labeled Dictyostelium cells for modelling confined development. Frasca G, Raynaud F, Bacri JC, Gazeau F, Wilhelm C. J Phys Cond Matt 20, 204149 (2008) </li>
            <li>In vivo imaging of transplanted hepatocytes with a 1.5-T clinical MRI system-initial experience in mice. Luciani A, Parouchev A, Smirnov P, Braga G, Wilhelm C, Gazeau F, Boudechiche L, L'hermine-Coulomb A, Dagher I, Franco D, Rahmouni A, Hadchouel M, Weber A, Clement O. Eur Radiol. 18, 59-69 (2008) </li>
            <li>In vivo detection of tumour-infiltrating lymphocytes at the single-cell level using 1.5T clinical MRI. Smirnov P, Poirier-Quinot M, Wilhelm C, Lavergne E, Combadière B, Clément O, Darrasse L, Gazeau F. Magn. Res. Med. 60, 1292-1297 (2008) </li>
            <li>Intracellular heating of living cells through Néel relaxation of magnetic nanoparticles. Fortin JP, Gazeau F, Wilhelm C. Eur. Biophys. J. 37 : 223-8 (2008) </li>
            <li>Magnetically induced hyperthermia: Size-dependent heating power of Fe2O3 nanoparticles. Lévy M, Wilhelm C, Siaugue JM, Horner O, Bacri JC, Gazeau F. J Phys Cond Matt. 20, 204133 (2008) </li>
            <li>Optimizing magnetic nanoparticles design for nanothermotherapy. Gazeau F, Lévy M, Wilhelm C. Nanomedicine. 3, 831-844 (2008) </li>
            <li>Aortic Aneurysms in a Rat Model: In Vivo MR Imaging of Endovascular Cell Therapy. Deux JF, Dai J, Riviere C, Boudghene F. Gazeau F, Roger J, Letourneur D, Allaire E. Radiology. 246(1):185-92 (2008) </li>
            <li>Magnetic control of Dictyostelium aggregation. Wilhelm C, Rivière C, Biais N. Phys Rev E. 75: 041906 (2007) </li>
            <li>Magnetic control of vascular network formation with magnetically labeled Endothelial Progenitor Cells. Wilhelm C, Bal L, Smirnov P, Galy-Fauroux I, Clément O, Gazeau F, Emmerich J. Biomaterials. 28 : 3797–3806 (2007) </li>
            <li>Pi3-kinase signaling at the rear pole of Entamoeba histolytica regulates magnetically induced mechanotaxis. Rivière C, Marion S, Guillén N, Bacri JC, Gazeau F, Wilhelm C. J. Biomechanics. 40: 64-77 (2007) </li>
            <li>Size sorted anionic iron oxide nanomagnets as colloidal mediators for magnetic hyperthermia. Fortin JP, Wilhelm C, Servais J, Ménager C, Bacri JC, Gazeau F. JACS. 129: 2628-2635 (2007) </li>
            <li>Magnetic targeting of nanometric magnetic-fluid-loaded liposomes to a specific brain intra-vascular area: a dynamic imaging study in the mouse. Riviere C, Martina MS, Tomita Y, Wilhelm C, Tran Dinh A, Menager C, Pinard E, Lesieur S, Gazeau F, Seylaz J. Radiology. 244: 439-448 (2007) </li>
            <li>The influence of PEG-coating of magnetic-fluid-loaded liposomes on their interactions with the macrophage cell-line J774: an in-vitro kinetic study. Martina MS, Nicolas V, Wilhelm C, Ménager C, Barratt G, Lesieur S. Biomaterials. 28 : 4143-4153 (2007) </li>
            <li>Internal structure of magnetic endosomes. Rivière C, Wilhelm C, Cousin F, Dupuis V, Gazeau F, Perzynski R. EPJE. 22: 1-10 (2007) </li>
            <li>Tumour cell toxicity of intracellular hyperthermia mediated by magnetic nanoparticles. Wilhelm C, Fortin JP, Gazeau F. J. Nanoscience & Nanotechnology. 7 : 2933–2937 (2007) </li>
            <li>Continuous sorting of magnetic cells via on-chip free-flow magnetophoresis. Pamme N, Wilhelm C. Lab on a Chip. 6: 974-980 (2006) </li>
            <li>Phenotypic study of human gingival fibroblasts labeled with superparamagnetic anionic nanoparticles. Naveau A, Smirnov P, Menager C, Gazeau F, Clement O, Lafont A., Gogly B. J Periodontol 77 (2) 1-10 (2006) </li>
            <li>Controlled Clustering of Superparamagnetic Nanoparticles Using Block Copolymers: Design of New Contrast Agents for Magnetic Resonance Imaging. Berret JF, Schonbeck N, Gazeau F, El Kharrat D, Sandre O, Vacher A, Airiau M. J Am Chem Soc. 128(5):1755-1761 (2006) </li>
            <li>Magnetic targeting of magnetoliposomes in solid tumors with MRI monitoring in mice-feasibility. Fortin JP, Martina MS, Gazeau F, Ménager C, Wilhelm C, Bacri JC, Lesieur S, Clément O. Radiology. 239: 415-24 (2006) </li>
            <li>In vivo cellular imaging of lymphocyte trafficking by MRI : a tumor model approach to cell-based anticancer therapy Smirnov P, Lavergne E., Gazeau F, Lewin M, Boissonnas A., Doan BT, Gillet B, Combadière C, Combadière B, Clement O. Magn. Reson. Med. 56 : 498-508 (2006). </li>
            <li>Single cell detection by gradient echo 9.4 T MRI: a parametric study. Smirnov P, Gazeau F, Beloeil JC, Doan BT, Wilhelm C, Gillet B. Contrast Media & Molecular Imaging. 1: 165-174 (2006) </li>
            <li>Fluorescent-Modified Superparamagnetic Nanoparticles : Intracellular Uptake and Use For Cellular Imaging. Bertorelle F, Wilhelm C, Roger J, Gazeau F, Ménager C, Cabuil V. Langmuir. 22: 5385-5391 (2006) </li>
            <li>T-cell homing to the pancreas in autoimmune mouse models of diabetes: in vivo MR imaging. Billotey C, Aspord C, Beuf O, Piaggio E, Gazeau F, Janier MF, Thivolet C. Radiology. 236(2):579-87 (2005) </li>
            <li>Generation of superparamagnetic liposomes revealed as highly efficient MRI contrast agents for in vivo imaging. Martina MS, Fortin JP, Menager C, Clement O, Barratt G, Gabrielle-Madelmont C, Gazeau F, Cabuil V, Lesieur S J Am Chem Soc. 127(30):10676-85 (2005) </li>
            <li>Iron Oxide Nanoparticle-labeled Rat Smooth Muscle Cells: Cardiac MR Imaging for Cell Graft Monitoring and Quantitation. Riviere C, Boudghene FP, Gazeau F, Roger J, Pons JN, Laissy JP, Allaire E, Michel JB, Letourneur D, Deux JF. Radiology. 235(3):959-67 (2005) </li>
            <li>Evaluation of tumoral enhancement by superparamagnetic iron oxide particles: comparative studies with ferumoxtran and anionic iron oxide nanoparticles. Brillet PY, Gazeau F, Luciani A, Bessoud B, Cuenod CA, Siauve N, Pons JN, Poupon J, Clement O. Eur Radiol. 15(7):1369-77 (2005) </li>
            <li>Acto-myosin cytoskeleton dependent viscosity and shear-thinning behavior of the amoeba cytoplasm. Marion S, Guillen N, Bacri JC, Wilhelm C. Eur Biophys J. 34 : 262-72 (2005) </li>
            <li>Myosin Ib modulates the morphology and the protein transport within multi-vesicular sorting endosomes. Salas Cortes L, Ye F, Tenza D, Wilhelm C, Theos A, Louvard, Raposo G, Coudrier E. J Cell Science. 118: 4823-4832. (2005) </li>
            <li>Rab8 regulates the actin-based movement of melanosomes. Chabrillat ML, Wilhelm C, Wasmeier C, Sviderskaya EV, Louvard D, Coudrier E. Mol Biol Cell. 16, 1640-50 (2005) </li>
            <li>In vivo cellular imaging of magnetically labeled hybridomas in the spleen with a 1.5-T clinical MRI system. Smirnov P, Gazeau F, Lewin M, Bacri JC, Siauve N, Vayssettes C, Cuenod CA, Clement O. Magn Reson Med. 52(1):73-9 (2004). </li>
            <li>Glucose-receptor MR imaging of tumors: study in mice with PEGylated paramagnetic niosomes. Luciani A, Olivier JC, Clement O, Siauve N, Brillet PY, Bessoud B, Gazeau F, Uchegbu IF, Kahn E, Frija G, Cuenod CA. Radiology. 231(1):135-42 (2004) </li>
            <li>Passive versus active local microrheology in mammalian cells and amoebae. Rivière C, Gazeau F, Marion S, Bacri JC, Wilhelm C. Magnetohyd. 40, 321–335 (2004). </li>
            <li>Overexpression of myosin IB in living Entamoeba histolytica enhances cytoplasm viscosity and reduces phagocytosis. Marion S, Wilhelm C, Voigt H, Bacri JC, Guillen N. J Cell Science. 117 : 3271-9 (2004) </li>
            <li>Intracellular uptake of anionic superparamagnetic nanoparticles as a function of surface modifications. Wilhelm C, Billotey C, Roger J, Pons JN, Bacri JC, Gazeau F. Biomaterials. 24, 1001-1011 (2003) </li>
            <li>Cell internalization of anionic magnetic nanoparticles: quantitative effect on Magnetic Resonance Imaging. Billotey C, Wilhelm C, Bacri JC. Bittoun J, Gazeau F. Magnetic Resonance in Medicine. 49, 646-54 (2003) </li>
            <li>Rotational magnetic endosomes microrheology: viscoelasticity of the living cell. Wilhelm C, Gazeau F, Bacri JC. Physical Review E. 67, 061908 (2003) </li>
            <li>Intracellular endosome deformation under magnetic field. Wilhelm C, Cebers A, Bacri JC, Gazeau F. Eur. Biophys. J. 32, 655-660 (2003) </li>
            <li>Rotational magnetic particles microrheology: the Maxwellian case. Wilhelm C, Browaeys J, Ponton A, Bacri JC. Physical Review E. 67, 011504 (2003) </li>
            <li>Static and quasi-elastic small-angle neutron scattering on biocompatible ionic ferrofluids: Magnetic and hydrodynamic interactions Gazeau F, Boue F, Dubois E, Perzynski R. J. Phys : Condensed Matter 15: S1305-S1334 (2003) </li>
            <li>Magnetophoresis and ferromagnetic resonance of magnetically labeled cells. Wilhelm C, F. Gazeau F, Bacri JC. Eur. Biophys. J. 31, 118-125 (2002) </li>
            <li>Binding of biological effectors on magnetic nanoparticles measured by a magnetically induced transient birefringence experiment. Wilhelm C, Gazeau F, Roger J, Pons JN, Salis MF, Perzynski R, Bacri JC. Physical Review E. 65, 031404 (2002) </li>
            <li>Interaction of anionic superparamagnetic nanoparticles with cells: kinetic analysis of membrane adsorption and subsequent internalization. Wilhelm C, Gazeau F, Roger J, Pons JN, Bacri JC. Langmuir. 18, 8148 (2002) </li>
            <li>Local rheological probes for complex fluids: Application to laponite suspensions. Wilhelm, Elias F, Browaeys J, Ponton A, Bacri JC. Physical Review E. 66, 021502 (2002) </li>
            <li>Anisotropy of the structure factor of magnetic fluids under a field probed by small-angle neutron scattering. Gazeau F, Dubois E, Bacri JC, Boue F, Cebers A, Perzynski R. Phys. Rev. E; 65: 031403 (2002) </li>
            <li>Ferromagnetic Resonance in ferrite nanoparticles with uniaxial surface anisotropy V.P. Shilov, J.-C. Bacri, F. Gazeau, F. Gendron, R. Perzynski, Yu. Raikher, Journal of Applied Physics, 85 (1999) 6642-6647 </li>
            <li>Magnetic resonance of ferrite nanoparticles : thermofluctuational effect F. Gazeau, J.-C. Bacri, F. Gendron, R. Perzynski, Yu. Raikher, V. Stepanov , E. Dubois, J. Mag. Mag. Mat. 202 (1999) 535-546 </li>
            <li>Effect of unidirectional anisotropy on the ferromagnetic resonance in ferrite nanoparticles V.P. Shilov, Yu. L. Raikher, J.-C. Bacri, F. Gazeau, R. Perzynski Phys. Rev. B 60 (1999) 11902-11905. </li>
            <li>Magnetic resonance of ferrite nanoparticles: evidence of surface effect F. Gazeau, J.-C. Bacri, F. Gendron, R. Perzynski, Yu.L. Raikher, V.I. Stepanov et E. Dubois Journal of Magnetism and Magnetic Materials, 186 (1998) 175-187 </li>
            <li>Energy conversion in ferrofluids : magnetic nanoparticles as motors/generators. F. Gazeau, C. Baravian, J.-C. Bacri, R. Perzynski, M. I. Shliomis Physical Review E, 56 (1997) 614-618 </li>
            <li>Quasielastic neutron scattering on -Fe2O3 nanoparticles. F. Gazeau, E. Dubois, M. Hennion, R. Perzynski, Yu. Raikher Europhysics Letters, 40 (1997) 575-580 </li>
            <li>Magnetic fluid under vorticity: free precession decay of magnetization and optical anisotropy. F. Gazeau, B.M. Heegaard, J.-C. Bacri, A. Cebers, R. Perzynski. Physical Review E 54 (1996) 3672-3675.</li>
            <li>Magnetic susceptibility in a rotating ferrofluid: magneto-vortical resonance. F. Gazeau, B.M. Heega</li>
        </ol>

        <h3>Patents</h3>
        <ol class="publications">
            <li> Methods for aggregation and differentiation of magnetized stem cells
                Fayol D, Luciani N, Le Visage C, Gazeau F, Wilhelm C. FR2979634-A1; WO/2013/030393 (2013)
            </li>
            <li> Compositions useful for mucosal healing Rahmi G, Silva AK, Gazeau F, Wilhelm C, Cellier C, Clément O.
                EP16305879.5 (2016).
            </li>
            <li> An in vitro method for obtaining a biohybrid vector. Piffoux M, Wilhelm C, Silva AK, Gazeau F, Tareste
                D. EP16306163.3 (2016).
            </li>
            <li>Piffoux M, Silva A K, O-W Merten, Wilhelm C, Gazeau F. Système fluidique de production de vésicules et procédé associé. FR1756183 (2017).</li>
            <li>Piffoux M, Silva A K, Grangier A, Heslot F, Wilhelm C, Gazeau F. Système fluidique de production de vésicules et procédé associé. FR1874295 (2018).</li>
            <li>Piffoux M, SILVA A K, Grangier A, Millard M, Bolotine L, Wilhelm C, Gazeau F. Système fluidique de production de vésicules comprenant un agent thérapeutique ou d’imagerie et procédé associé. FR1874313 (2018).</li>
        </ol>

        <h3>Contribution to a book</h3>
        <ol class="publications">
            <li> Imaging and manipulating magnetically-labelled cells. In Magnetic Nanoparticles, from fabrication to
                clinical applications. Gazeau F, Wilhelm C. Nguyen TK Thanh, editor. CRC Press, Taylor and Francis Group
                (2012)
            </li>
            <li> Magnetic Nanoparticles for Magnetic Hyperthermia and Controlled Drug Delivery. P. Guardia, A.
                Riedinger, H. Kakwere, F. Gazeau, T. Pellegrino. Bio and BioInspired Nanomaterials, editors Daniel
                Ruiz-Molina, Fernando Novio, Claudio Roscini John Wiley and Sons, 09/2014: pages 139-172; , ISBN:
                9783527335817
            </li>
            <li> Medical Applications of Iron Oxide Nanoparticles, in Iron Oxides: From Nature to Applications Silva,
                AKA, Espinosa A, Kolosnjaj-Tabi J, Wilhelm C, Gazeau F (ed D. Faivre), Wiley-VCH Verlag GmbH & Co. KGaA,
                Weinheim, Germany. doi: 10.1002/9783527691395.ch18 (2016)
            </li>
            <li> Basic principles of in vivo distribution, toxicity, degradation of prospective inorganic nanoparticles
                for imaging. Jelena Kolosnjaj-Tabi, Jeanne Volatron, Florence Gazeau. In Design and Applications of
                Nanoparticles in Biomedical Imaging. Jeff W.M. Bulte and Michel M.J. Modo, editors, Springer
                International Publishing AG, Cham, 2016
                Imaging and therapeutic potential of extracellular vesicles, in Design and Applications of Nanoparticles
                in Biomedical Imaging Piffoux M, Gazeau F, Wilhelm C, Silva, AKA. (ed Bulte, Jeff W. M. / Modo, Michel
                M. J.), Springer-Verlag GmbH, Germany. ISBN 9783319421674.
            </li>

        </ol>

        <h3>Vulgarisation</h3>
        <ol class="publications">
            <li>Micromanipulations magnétiques dans la cellule vivante Wilhelm C, Gazeau F, Bacri JC Bulletin de la SociétéFrançaise de Physique 145 : 13-17 (2004)</li>
            <li>Nanoparticules magnétiques, agents de contraste pour l’Imagerie par Résonance Magnétique Gazeau F, Wilhelm C, Bacri JC .Clement O Bulletin de la Société Française de Physique 145 : 7-13 (2004)</li>
            <li>Magnetic micromanipulation in the living cell C. Wilhelm, F. Gazeau, J.-C. Bacri Europhysics News 3: 89-92 (2005)</li>
            <li>G Frasca, F Gazeau, C Wilhelm De la cellule au tissu : le magnétisme auxiliaire de la biomédecine, Reflets phys. 23 (2011) 6-10</li>
            <li>Contributions pour l’OMNT (Observatoire des micro et nanotechnologies- Micro et Nanomédecine) Synthèses et revues d’article
            <br>10.14756/OMNT.NANOMED.06.2010
            <br>10.14756/OMNT.NANOMED.09.2010
            <br>10.14756/OMNT.NANOMED.12.2010
            <br>10.14756/OMNT.NANOMED.09.2011
            <br>10.14756/OMNT.NANOMED.03.2012
            <br>10.14756/OMNT.NANOMED.09.2012
            <br>10.14756/OMNT.NANOMED.12.2012
            <br>Micro et Nanotechnologies : Avancées, tendances et perspectives, Février 2016: 10.14756/OMNT.BILAN.2016
            <br>Micro et Nanotechnologies : Avancées, tendances et perspectives, Février 2015: 10.14756/OMNT.BILAN.2015
            <br>Micro et Nanotechnologies : Avancées, tendances et perspectives, Février 2014: 10.14756/OMNT.BILAN.2014</li>
            <li>Magnetic nanoparticles in cancer therapy: how can thermal approaches help? Kolosnjaj-Tabi J, Wilhelm C. Nanomedicine, 12, 573-575 (2017) Editorial</li>
            <li>Combiner magnétisme et lumière pour lutter contre le cancer. <a href="http://www2.cnrs.fr/presse/communique/3969.htm">http://www2.cnrs.fr/presse/communique/3969.htm</a> CNRS press release, 24 mars (2015)</li>
            <li>Magnetic drug carriers: Bright insights from light-responsive magnetic liposomes. Silva AKA, Ménager C, Wilhelm C. Nanomedicine. 10, 2797-2799 (2015) Editorial </li>
            <li>Des « legos » cellulaires magnétiques pour la médecine régénérative de demain <a href="http://www2.cnrs.fr/presse/communique/5181.htm?theme1=4">http://www2.cnrs.fr/presse/communique/5181.htm?theme1=4</a> CNRS press release, 12 sept (2017)</li>
            <li>Une nouvelle approche de médecine régénérative pour traiter les fistules digestives   <a href="https://www.lequotidiendumedecin.fr/actualites/article/2018/10/25/une-nouvelle-approche-de-medecine-regenerative-pour-traiter-les-fistules-digestives_862186">https://www.lequotidiendumedecin.fr/actualites/article/2018/10/25/une-nouvelle-approche-de-medecine-regenerative-pour-traiter-les-fistules-digestives_862186</a> Press release 25 October (2018)</li>
            <li>Une avancée de la médecine régénérative <a href="https://recherche.univ-paris-diderot.fr/actualites/une-avancee-de-la-medecine-regenerative">https://recherche.univ-paris-diderot.fr/actualites/une-avancee-de-la-medecine-regenerative</a>, Press release, 23 October (2018)</li>
            <li>“Cellular dust” provides new hope for regenerative medicine <a href="http://www.cnrs.fr/en/cellular-dust-provides-new-hope-regenerative-medicine">http://www.cnrs.fr/en/cellular-dust-provides-new-hope-regenerative-medicine</a>, Press release, 23 October (2018)</li>
            <li>De la recherche à l’entrepreneuriat <a href="https://universite.univ-paris-diderot.fr/actualites/de-la-recherche-lentrepreneuriat">https://universite.univ-paris-diderot.fr/actualites/de-la-recherche-lentrepreneuriat</a>, Press release, October (2018)</li>
        </ol>


        <h3>Editorial activity</h3>
        <ol class="publications">
            <li>
                Molecular Imaging Techniques: New Frontiers
                <br/>Florence Gazeau, editor
                <br/>Molecular Imaging Techniques: New Frontiers, 2013 Future Science Ltd
                <br/>doi: 10.4155/9781909453401
            </li>
            <li>Invited theme editors at Advanced Drug Delivery Reviews</li>
            <li>Editorial board member of Nanomaterials</li>
        </ol>

        <h3>Prizes</h3>
        <ol class="publications">
            <li>Biotech innovation prize Universal Biotech 2018: Jeanne Volatron</li>
            <li>C'Nano thesis prize 2018: Jeanne Volatron</li>
            <li>SFNano prize for the best short presentation 2018: Alba Nicolas-Boluda</li>
        </ol>

    </div>
{% endblock %}