{% extends "public.html" %}
{% block content %}
    <div class="bg-white padding-md" id="team">
        <div class="section-header">
            <hr class="left visible-lg">
	    <h2><span>TEAM</span></h2>
            <hr class="right visible-lg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/florence.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Florence Gazeau</h3>
                    </div>
                    <div id="florence">
                        <p class="paragraph">
                            Florence Gazeau (1970) obtained her Ph.D. in solid state physics from the University Paris
                            7- Diderot in 1997, focusing on the magnetic and hydrodynamic properties of ferrofluids. She
                            joined the National Research Center for Scientific Research (“CNRS”) as a staff scientist in
                            1998, when she broadened her research on biomedical applications of magnetic nanoparticles.
                            Her current research interests focus on the physics of nanomagnetism applied to
                            nanomedicine, cell-nanoparticles interactions, cellular MRI, nanoparticles-mediated
                            hyperthermia, magnetic targeting, nanoparticles behavior, biodegradation and long term in
                            vivo fate and nanotoxicology.
                        </p>
                        <p class="hidden paragraph">
                            She is also developing alternatives to cell therapy by
                            extracellular vesicles as a novel class of drug delivery system. She is a senior CNRS
                            scientist (DR2) since 2009, and she works in the laboratory Matière et Systèmes Complexes at
                            the University Paris Diderot. She is animator of the group Nanomedicine at the French
                            observatoire of micro and nanotechnology. She is authors of more than 117 publications.
                        </p>
                    </div>
                    <div style="text-align: right">
                        <a href="javascript:" class="ali" onclick="modal('Florence Gazeau', 'florence');">Read full
                            description</a>
                    </div>

                </div><!-- /.col -->

                <div class="col-lg-6 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/claire.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Claire Wilhelm</h3>
                    </div>
                    <div id="claire">
                        <p class="paragraph">
                            Biophysicist affiliated to the Condensed Matter section of the CNRS, has oriented her
                            research to the biomedical field since obtaining her PhD in 2002. Her works during this last
                            decade lied at the crossroads of magnetism, biophysics and nanomedicine and were resolutely
                            multidisciplinary, taking advantage of the physical properties of magnetic nanoparticles to
                            develop more effective treatments and new methods of medical investigation. She was
                            appointed CNRS research director in 2013, she received the CNRS bronze medal in 2011, and
                            the Louis Ancel prize in 2014.
                        </p>
                    </div>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div>

        <div class="container" id="2">
            <div class="row">

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/amanda.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Amanda K. A. Silva</h3>
                    </div>
                    <div id="amanda">
                        <p class="paragraph">I obtained a degree in Pharmacy in 2005 and a PhD in Pharmaceutical
                            Technology in 2008 both from
                            UFRN, Natal, Brazil. My thesis was in the domain of gastro-resistant magnetic microcapsules.
                            I
                            obtained a second PhD in Cellular and Molecular Biology in 2010 concerning polysaccharides
                            for
                            thermo-controlled cell culture at Université d’Evry/Université Paris V, France.
                            I worked as a
                            postdoctoral fellow at Université Paris Diderot on drug-loaded magnetic nancoarriers of cell
                            origin (nanovesicles).
                        </p>
                        <p class="hidden paragraph">
                            My second post-doc was carried out at Inserm U698 in Paris involving
                            the
                            development of nanosystems for atherothrombosis therapy.
                            I am currently a CNRS researcher
                            and I
                            am interested on cell-derived vesicles for drug/nanoparticle delivery and regenerative
                            medicine.
                        </p>
                    </div>
                    <div style="text-align: right">
                        <a href="javascript:" class="ali" onclick="modal('Amanda K. A. Silva', 'amanda');">Read full
                            description</a>
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/nathalie.jpg" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Nathalie Luciani</h3>
                    </div>
                    <div id="nathalie">
                        <p class="paragraph">
                            I am a Biochemist and molecular Biologist. Since I am in a multidisciplinar lab, I have
                            developped projects at the interface of Biophysic and tissue engineering. My current
                            researchs focus on metal nanoparticle degradation by cells and cartilage tissue engineering.
                        </p>
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/myriam.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Myriam Reffay</h3>
                    </div>
                    <div id="myriam">
                        <p class="paragraph">
                            After a PhD in physics obtained in 2007 concerning membrane protein interactions at ENS
                            Paris, I joined the group of Pascal Silberzan at Institut Curie to work on collective cell
                            migration and the interplay of mechanical forces and Rho-GTPases activity.
                            Since 2011 I am an assistant professor at Université Paris Diderot and I am interested in
                            tissue mechanics. My two main ongoing projects are focused on the rheology of biological
                            tissue using multicellular magnetic aggregates and on the engineering of an artificial
                            muscle tissue.
                        </p>
                    </div>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div>

        <div class="container" id="3">
            <div class="row">
                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/jeanne.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Jeanne Volatron</h3>
                    </div>
                    <div id="jeanne">
                        <p class="paragraph">I am a third year PhD student in the PIF doctoral school. I am a chemist by
                            training and i’m very
                            interested by the interaction biology-chemistry. I’m working on the degradation and the
                            biotransformation of inorganic nanoparticles in the cell and in vivo.
                        </p>
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/alba.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Alba Nicolas-Boluda</h3>
                    </div>
                    <div id="alice">
                        <p class="paragraph">I am a first year PhD student, originally from Spain. I studied a BSc in
                            Biotechnology in the Politechnic Universtiy of Valencia and then came to Paris to do a
                            Masters in Biomedical Engineering, specialising in the area of Biomaterials. My PhD projects
                            aims to develop therapeutic systems for the delivery of nanoparticles and therapeutic
                            molecules for combined photothermal and inmunotherapy in tumoral tissue combined with the
                            evaluation of the changes of the mechanical properties of the extracellular matrix in the
                            microenvironment of the tumor after these therapies.</p>
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/alice.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Alice Balfourier</h3>
                    </div>
                    <div id="alice">
                        <p class="paragraph">After a master degree in materials chemistry, I joint the MSC for a project
                            at the interface of
                            chemistry, physics and biology: understanding the fate of nanoparticles in an intracellular
                            medium. For this project, we focus on the influence a cell has on the physicochemical
                            properties
                            of gold nanoparticles, and how these low-reactive compounds can impact the cell and
                            particularly
                            its degradation capacity.
                        </p>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->

        </div>

        <div class="container" id="5">
            <div class="row">
                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/gaetan.jpg" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Gaëtan Mary</h3>
                    </div>
                    <div id="gaetan">
                        <p class="paragraph">
                            After a degree in biotechnologies at the ESPCI Paris and a Master 2 of Biophysics at the
                            University Paris Diderot, I decided to continue my path in the scientific world by doing a
                            PhD in Biophyscis. I started my PhD programm on October 2016 on tissue engineering at the
                            MSC laboratoty under the supervision of Claire Wilhelm and Myriam Reffay. The aim of the
                            project is to use magnetised cells to create and organise 3D tissues.
                        </p>
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/alberto.jpg" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Alberto Curcio</h3>
                    </div>
                    <div id="alberto">
                        <p class="paragraph">
                            After the master's degree in Medical Biotechnology at Federico II Naples University in 2009,
                            I obtained the PhD in Nanosciences at the Istituto Italiano di Tecnologia of Genoa in the
                            Dr. Teresa Pellegrino's group of Nanomaterials for Biomedicine in 2013, focusing on
                            stimuli-responsive organic/inorganic nanostructures for controlled gene and drug delivery.
                        </p>
                        <p class="hidden paragraph">
                             I worked as postdoctoral fellow in the same group until 2015 studying magnetic and plasmonic
                            nanoparticles functionalized with biomolecules for hyperthermia cancer therapy.
                            In 2016 I started my second postdoc concerning the development of magneto-plasmonics
                            nano-assembly nanoparticles for multimodal cancer therapy at the Université Pierre et Marie
                            Curie in collaboration with Prof. Ali Abou-Hassan and Dr. Claire Wilhelm and now I am
                            currently working in her group at Paris Diderot on the characterization of magneto-plasmonic
                            nanoparticles in different murine cancer models.
                        </p>
                    </div>
                    <div style="text-align: right">
                        <a href="javascript:" class="ali" onclick="modal('Alberto', 'alberto');">Read full
                            description</a>
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/anouchka.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Anouchka Plan</h3>
                    </div>
                    <div id="anouchka">
                        <p class="paragraph">
                            I am a PhD student working on the fate of inorganic nanoparticles once internalised into
                            cells. With in vitro models, I study the long-term biodegradation of nanoparticles but also
                            the impact of the intracellular confinement on the therapeutic properties of the particles.
                        </p>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->

        </div>


        <div class="container" id="7">
            <div class="row">

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/shony.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Shony Lemieux</h3>
                    </div>
                    <div id="dan">
                        <p class="paragraph">I have a technician background on Bioanalysis and Control obtained at École National de Chimie de Biologie etPhysique, in Paris. I obtained then a degree in Biotechnologies and Bio-industries in 2015 at Université Paris-Saclay in Orsay. Since then, I have worked on laboratorial quality control for biotherapies and GMP bio-processes.</p>
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/benjamin.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Benjamin Marcel--Zerrougui</h3>
                    </div>
                    <div id="max">
                        <p class="paragraph">
                            I obtained a master’s degree in botechnology in 2017 at the University of Montpellier.
                            After several experiences in upstream bioprocess on micro algae and bacteria systems, I joined the BioTher team and I'm working on thematic of Extracellular vesicles. At the edge of Biophysics, my project is focused on a innovative production approach of these vesicles by human stem cells, to use as bio-vectors for various therapeutic molecules.
                        </p>
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/iris.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Iris Marangon</h3>
                    </div>
                    <div id="vladimir">
                        <p class="paragraph">
                            After a physics degree at Université de la Méditerranée Aix-Marseille II in 2010, Iris obtained a Master degree and a PhD in Biophysics in 2012 and 2015, respectively, at Université Paris Diderot. After a post-doc at CNRS/Gustave Roussy Hospital on biophysics, Iris joined the BioTher team where she works on extracellular vesicles for regenerative medicine.
                        </p>
                    </div>
                </div><!-- /.col -->



            </div><!-- /.row -->


            <div class="container" id="24">
            <div class="row">
                <div class="col-lg-12 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/alice-grangier.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Alice Grangier</h3>
                    </div>
                    <div id="team-ana">
                        <p class="paragraph">
                            After three years at ESPCI Paris, I chose to do the Biomedical Engineering Master of Paris Descartes with a specialisation in Biomaterials. I joined the team for my M2 internship, during which I worked closely with Max on a revolutionary new method of producing extracellular vesicles. I am now doing a PhD, trying to decipher the mechanisms behind this high yield production method and developing the loading of extracellular vesicles with nanoparticles and chemicals.
                        </p>
                    </div>
                </div><!-- /.col -->
            </div>

        </div>


        <div class="section-header">
            <hr class="left visible-lg">
	    <h2><span>FORMER MEMBERS</span></h2>
            <hr class="right visible-lg">
        </div>
        <div class="container" id="4">
            <div class="row">
                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/sophie.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Sophie Richard</h3>
                    </div>
                    <div id="team-ana">
                        <p class="paragraph">
                            After a master's degree in bioengineering, I did a PhD in nanotechnology. This project
                            focused on developing new contrast agents for molecular imaging of cancers using iron oxide
                            nanoparticles and targeting molecules. As nanoparticles are also promising tools in
                            regenerative medicine, I joined the MSC laboratory for a post-doctoral project to develop a
                            new magnetic approach for the cardiac tissue engineering.
                        </p>
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/ana.jpg" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Ana Espinosa</h3>
                    </div>
                    <div id="ana">
                        <p class="paragraph">
                            Graduated in Physics, I obtained my PhD in 2010 at the University Autónoma of Madrid
                            (Spain). The research was devoted to the study and fabrication of heterostructures and thin
                            films based on wide band gap oxides for applications in Information Technologies.
                            I worked as a postdoctoral fellow at the Magnetism and Magnetotransport Laboratory
                            (ICMM-CSIC, Spain) on the study of structural and magnetic properties of nanoparticle
                            systems, in particular iron oxide nanoparticles for biomedical applications, ZnO
                            nanoparticles coated with organic molecules and cobalt based-nanoparticle systems embedded
                            in amorphous matrix for spintronic devices.
                        </p>
                        <p class="hidden paragraph">
                            In 2013, I joined the Laboratoire de Matière et Systèmes Complexes (MSC, France) to conduct
                            a research activity based on nanotherapies for cancer treatment by means of thermal effect
                            (magnetic and plasmonic hyperthermia). In 2014, I was granted with a Marie Curie Fellowship
                            IEF within the project DUALNANOTHER, devoted to the evaluation of therapeutic potential of
                            combined hyperthermia for cancer treatment. Currently, my research activity is focused on
                            the impact of bio-induced interactions and intracellular degradation for magnetic
                            nanomaterials embedded in tissues.
                        </p>
                    </div>
                    <div style="text-align: right">
                        <a href="javascript:" class="ali" onclick="modal('Ana Espinosa', 'ana');">Read full
                            description</a>
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/aurore.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Aurore Van de Walle</h3>
                    </div>
                    <div id="aurore">
                        <p class="paragraph">
                            After graduating with a PhD in biomedical engineering from the University of Florida (2015),
                            I joined the MSC laboratory at the University Paris Diderot as a Postdoctoral Fellow. My
                            current work combines tissue engineering strategies with innovative magnetic nanoparticles
                            technologies developed at MSC and that present a high potential for regenerative medicine
                            applications. The main goal of my project is to produce articular cartilage replacements for
                            the repair of osteoarthritic defects.
                        </p>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->

        </div>
        <div class="container" id="6">
            <div class="row">

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/dan.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Dan Elgrabli</h3>
                    </div>
                    <div id="dan">
                        <p class="paragraph">Dan Elgrabli is a doctor of toxicology, clinical pharmacology and drug’s
                            mechanism. After his PhD dedicated to the study of carbon nanotubes toxicity due to hopes
                            they inspire in medicine, he leads scientific projects in the field of nanotoxicology at
                            INERIS (National Institute for Environmental protection and Industrial Risks Management).
                            After this experience, he joined l’Oreal where he participated to the defense of new
                            innovative products and safety assessment. Then, he joined Addenfi, a biotechnological
                            company, as Deputy Director and Scientific Officer.</p>
                        <p class="hidden paragraph">He currently developed research instruments and research activities
                            as a CRO in the areas of pharmacology and toxicology. Its responsibilities lead him to
                            manage a team, developed new methods in the laboratory, coordinate and assess projects in
                            the field of toxicology. To focus on the use of carbon nanotubes as therapeutics agent, he
                            joined MSC laboratory to better understand the life cycle of this nanoparticules and its
                            interaction with macrophages for pharmacological applications.</p>
                    </div>
                    <div style="text-align: right">
                        <a href="javascript:" class="ali" onclick="modal('Dan Elgrabli', 'dan');">Read full
                            description</a>
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/max.png" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Max Piffoux</h3>
                    </div>
                    <div id="max">
                        <p class="paragraph">
                            After begining the first years of medical studies in Dijon, I discovered that it was
                            possible to make both research and medicine joning the "Ecole de l'INSERM
                            Lilliane-Bettencourt". I began studying biology and hematology, but swithched
                            to biophysics right after Dr F. Amblard's course, and joined the MSC Lab and the "Centre de
                            Recherche Interdisciplinaire". Now, my project aims at designing new kind of drug delivery
                            vectors by hacking Mother Nature's communication pathways : using extracellular vesicles as
                            a carrier for nucleic acids, viruses or drugs, and explore their use in regenerative
                            medicine. 
                        </p>
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-4 col-md-12 content-padding">
                    <div class="feature-icon text-center text-white">
                        <img src="/static/images/team/vladimir.jpg" style="border-radius: 50%; width: 90px"/>
                    </div>
                    <div class="text-center font-lg">
                        <h3>Vladimir Mulens-Arias</h3>
                    </div>
                    <div id="vladimir">
                        <p class="paragraph">
                            Graduated from Havana University in 2006, I have developed abilities in cancer & cancer
                            immunology & immunotherapy research throughout my entire work and academic experiences in
                            the
                            past 10 years. Working in tight relation with clinicians, I monitored the vaccine-induced
                            immune
                            response and tumor biology of cancer patients enrolled in variety clinical trials.
                            Concomitantly, I have got trained in many immunological techniques and clinical trials
                            procedures along with an exhaustive cancer & tumor immunology theoretical learning due to
                            frequent seminars and workshops.
                        </p>
                        <p class="hidden paragraph">
                            The involvement in clinical trial studies endowed me with communication skills enough to
                            conduct independent
                            and cooperative research. As part of my work, I headed for several months the laboratory I
                            was working at,
                            and, was the organizer of the First International Workshop on Clinical Cancer Immunotherapy
                            in Havana, November
                            2009, under the auspices of UICC. Since January 2011, I worked during a PhD program (UAM-La
                            Caixa International
                            PhD Program) in cancer nanotechnology at National Center for Biotechnology where I
                            consolidated my research
                            skills applied to the development of new cancer-targeted gene therapy, specifically,
                            magnetic nanoparticle-based
                            gene therapy. I consistently studied the interaction of nanomaterials with
                            reticulo-endothelial system and tumor
                            cells, providing new knowledge on the field. During this period, I learned a wide variety of
                            techniques including
                            chemical synthesis, chemical and physical characterization of nanoparticles, cell culture,
                            biochemical assays,
                            molecular biology (qRT-PCR, immunoassays, gene silencing, gene expression, etc.), and cell
                            biology (confocal
                            microscopy). Granted with an international postdoctoral scholarship from ARC Fondation
                            (France), I am currently
                            working on the application of biogenic extracellular vesicles and nanoghosts in cancer
                            theranosis, a cutting-edge,
                            exciting and fast-growing field.<br/>
                            <br/>Personal webpages:
                            <br/><a href="https://www.linkedin.com/in/vladimir-mulens-arias-a8847596">https://www.linkedin.com/in/vladimir-mulens-arias-a8847596</a>
                            <br/><a href="https://www.researchgate.net/profile/Vladimir_Mulens-Arias">https://www.researchgate.net/profile/Vladimir_Mulens-Arias</a>
                        </p>
                    </div>
                    <div style="text-align: right">
                        <a href="javascript:" class="ali" onclick="modal('Fladimir', 'vladimir');">Read full
                            description</a>
                    </div>
                </div><!-- /.col -->



            </div><!-- /.row -->

        </div>

    </div>
{% endblock %}












